# Trabalho Final de Banco de Dados
Este notebook contém os exercícios **Exercício 6** ao **Exercício 8**.

### Conexão com o Postgres Docker

In [6]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql
from sqlalchemy import create_engine
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/universidade')
%sql postgresql://postgres:pgadmin@localhost:5432/universidade

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Importações

In [8]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine
from pathlib import Path
import sqlparse

### Para resolver o error ao rodar os comandos de select no notebook

In [10]:
%config SqlMagic.style='_DEPRECATED_MARKDOWN'

%reload_ext sql

## Exercício 6: Criação do esquema

Insiram aqui os SQL para criar tabelas, chaves primárias, estrangeiras e restrições.

In [11]:
%%sql
-- recria o schema limpo
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;

-- unidade escolar (campus)
CREATE TABLE UnidadeEscolar (
    codigo                varchar(50)  PRIMARY KEY,
    cidade                varchar(100) NOT NULL,
    estado                varchar(50)  NOT NULL,
    pais                  varchar(50)  NOT NULL,
    bloco                 varchar(50),      -- prédio / bloco
    Localidade_Especifica varchar(100)      -- ponto exato (opcional)
);

-- sala física
CREATE TABLE Sala (
    id_sala    serial  PRIMARY KEY,
    capacidade integer NOT NULL           -- assentos
);

-- regra acadêmica genérica (ex. frequência)
CREATE TABLE Regra (
    id_regra  serial PRIMARY KEY,
    descricao text   NOT NULL
);

-- recurso físico (lab, projetor, etc.)
CREATE TABLE Infraestrutura (
    id_infraestrutura serial PRIMARY KEY,
    nome              text   NOT NULL
);

-- turma de alunos (grupo lógico)
CREATE TABLE Turma (
    id_turma   serial  PRIMARY KEY,
    capacidade integer NOT NULL
);

-- bolsa de estudo
CREATE TABLE Bolsa (
    id_bolsa    serial        PRIMARY KEY,
    valor_bolsa numeric(10,2) NOT NULL,
    descricao   text,
    instituicao varchar(100)
);

-- desconto financeiro
CREATE TABLE Desconto (
    id_desconto serial        PRIMARY KEY,
    valor       numeric(10,2) NOT NULL,
    motivo      text
);

-- aluno (subtipo de usuário)
CREATE TABLE Aluno (
    nomeAluno        varchar(100),
    sobrenomeAluno   varchar(100),
    telefoneAluno    varchar(20),
    dataNasc         date,
    sexo             char(1),
    senha            varchar(100),
    email            varchar(100),
    codigoUnidadeEscolar varchar(50) NOT NULL,
    rua              varchar(100),
    cidade           varchar(100),
    estado           varchar(50),
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno),
    FOREIGN KEY (codigoUnidadeEscolar) REFERENCES UnidadeEscolar(codigo)
);

-- professor (subtipo de usuário)
CREATE TABLE Professor (
    nomeProfessor        varchar(100),
    sobrenomeProfessor   varchar(100),
    telefoneProfessor    varchar(20),
    dataNasc             date,
    sexo                 char(1),
    senha                varchar(100),
    email                varchar(100),
    area_especializacao  varchar(100),
    titulacao            varchar(100),
    codigoUnidadeEscolar varchar(50) NOT NULL,
    rua                  varchar(100),
    cidade               varchar(100),
    estado               varchar(50),
    PRIMARY KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor),
    FOREIGN KEY (codigoUnidadeEscolar) REFERENCES UnidadeEscolar(codigo)
);

-- funcionário administrativo (subtipo de usuário)
CREATE TABLE FuncionarioAdministrativo (
    nomeFuncionario      varchar(100),
    sobrenomeFuncionario varchar(100),
    telefoneFuncionario  varchar(20),
    dataNasc             date,
    sexo                 char(1),
    senha                varchar(100),
    email                varchar(100),
    rua                  varchar(100),
    cidade               varchar(100),
    estado               varchar(50),
    PRIMARY KEY (nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario)
);

-- departamento acadêmico
CREATE TABLE DepartamentoAcademico (
    codigo             varchar(50)  PRIMARY KEY,
    nome               varchar(100) NOT NULL,
    nomeProfessor      varchar(100) NOT NULL,   -- chefe
    sobrenomeProfessor varchar(100) NOT NULL,
    telefoneProfessor  varchar(20)  NOT NULL,
    FOREIGN KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor)
        REFERENCES Professor(nomeProfessor, sobrenomeProfessor, telefoneProfessor)
);

-- curso
CREATE TABLE Curso (
    codigo               varchar(50) PRIMARY KEY,
    nome                 varchar(100) NOT NULL,
    carga_horaria        integer,
    total_vagas          integer,
    nivel                varchar(50),           -- graduação, pós etc.
    id_sala              integer,               -- sala padrão
    codigoDepartamento   varchar(50),
    codigoUnidadeEscolar varchar(50),
    FOREIGN KEY (id_sala)            REFERENCES Sala(id_sala),
    FOREIGN KEY (codigoDepartamento) REFERENCES DepartamentoAcademico(codigo),
    FOREIGN KEY (codigoUnidadeEscolar) REFERENCES UnidadeEscolar(codigo)
);

-- disciplina
CREATE TABLE Disciplina (
    codigo               varchar(50) PRIMARY KEY,
    num_aulas_semanais   integer,
    material_recomendado text,
    codigoUnidadeEscolar varchar(50),
    nomeProfessor        varchar(100),
    sobrenomeProfessor   varchar(100),
    telefoneProfessor    varchar(20),
    FOREIGN KEY (codigoUnidadeEscolar) REFERENCES UnidadeEscolar(codigo),
    FOREIGN KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor)
        REFERENCES Professor(nomeProfessor, sobrenomeProfessor, telefoneProfessor)
);

-- mensagem interna
CREATE TABLE Mensagem (
    id_mensagem serial PRIMARY KEY,
    timestamp   timestamp NOT NULL,
    texto       text      NOT NULL,
    -- remetente (apenas um dos três grupos abaixo)
    nomeAluno        varchar(100),
    sobrenomeAluno   varchar(100),
    telefoneAluno    varchar(20),
    nomeProfessor      varchar(100),
    sobrenomeProfessor varchar(100),
    telefoneProfessor  varchar(20),
    nomeFuncionario      varchar(100),
    sobrenomeFuncionario varchar(100),
    telefoneFuncionario  varchar(20),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno)
        REFERENCES Aluno(nomeAluno, sobrenomeAluno, telefoneAluno),
    FOREIGN KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor)
        REFERENCES Professor(nomeProfessor, sobrenomeProfessor, telefoneProfessor),
    FOREIGN KEY (nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario)
        REFERENCES FuncionarioAdministrativo(nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario),
    CHECK ( ((nomeAluno IS NOT NULL)::int
           + (nomeProfessor IS NOT NULL)::int
           + (nomeFuncionario IS NOT NULL)::int) = 1 )
);

-- aviso geral (enviado por funcionário)
CREATE TABLE AvisoGeral (
    id_aviso       serial PRIMARY KEY,
    texto          text      NOT NULL,
    timestamp      timestamp NOT NULL,
    nomeFuncionario      varchar(100) NOT NULL,
    sobrenomeFuncionario varchar(100) NOT NULL,
    telefoneFuncionario  varchar(20)  NOT NULL,
    FOREIGN KEY (nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario)
        REFERENCES FuncionarioAdministrativo(nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario)
);

-- oferecimento (turma + disciplina + período)
CREATE TABLE Oferecimento (
    codigo_oferecimento serial PRIMARY KEY,
    codigo             varchar(50) NOT NULL,   -- disciplina
    id_turma           integer     NOT NULL,
    periodo            varchar(20),
    FOREIGN KEY (codigo)   REFERENCES Disciplina(codigo),
    FOREIGN KEY (id_turma) REFERENCES Turma(id_turma)
);

-- uso de sala por turma em horário específico
CREATE TABLE Ministra (
    id_sala     integer  NOT NULL,
    id_turma    integer  NOT NULL,
    dia         date     NOT NULL,
    hora_inicio time     NOT NULL,
    hora_fim    time     NOT NULL,
    PRIMARY KEY (id_sala, id_turma, dia, hora_inicio),
    FOREIGN KEY (id_sala)  REFERENCES Sala(id_sala),
    FOREIGN KEY (id_turma) REFERENCES Turma(id_turma)
);

-- matrícula do aluno em um oferecimento
CREATE TABLE Matricula (
    nomeAluno        varchar(100) NOT NULL,
    sobrenomeAluno   varchar(100) NOT NULL,
    telefoneAluno    varchar(20)  NOT NULL,
    codigo_oferecimento integer   NOT NULL,
    data             date         NOT NULL,
    status           varchar(20),
    data_limite      date,
    valor_matricula  numeric(10,2),
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno)
        REFERENCES Aluno(nomeAluno, sobrenomeAluno, telefoneAluno),
    FOREIGN KEY (codigo_oferecimento) REFERENCES Oferecimento(codigo_oferecimento)
);

-- notas lançadas para matrícula
CREATE TABLE Notas (
    nomeAluno        varchar(100) NOT NULL,
    sobrenomeAluno   varchar(100) NOT NULL,
    telefoneAluno    varchar(20)  NOT NULL,
    codigo_oferecimento integer   NOT NULL,
    data             date         NOT NULL,
    nota             numeric(4,2) NOT NULL,
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data, nota),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data)
        REFERENCES Matricula(nomeAluno, sobrenomeAluno, telefoneAluno,
                             codigo_oferecimento, data)
);

-- curso < - > regra (N:M)
CREATE TABLE ContemRegra (
    id_regra    integer     NOT NULL,
    codigoCurso varchar(50) NOT NULL,
    PRIMARY KEY (id_regra, codigoCurso),
    FOREIGN KEY (id_regra)    REFERENCES Regra(id_regra),
    FOREIGN KEY (codigoCurso) REFERENCES Curso(codigo)
);

-- curso < - > infraestrutura (N:M)
CREATE TABLE PrecisaInfraestrutura (
    id_infraestrutura integer     NOT NULL,
    codigoCurso       varchar(50) NOT NULL,
    PRIMARY KEY (id_infraestrutura, codigoCurso),
    FOREIGN KEY (id_infraestrutura) REFERENCES Infraestrutura(id_infraestrutura),
    FOREIGN KEY (codigoCurso)       REFERENCES Curso(codigo)
);

-- curso < - > disciplina (N:M)
CREATE TABLE CursoTemDisciplina (
    codigoCurso      varchar(50) NOT NULL,
    codigoDisciplina varchar(50) NOT NULL,
    PRIMARY KEY (codigoCurso, codigoDisciplina),
    FOREIGN KEY (codigoCurso)      REFERENCES Curso(codigo),
    FOREIGN KEY (codigoDisciplina) REFERENCES Disciplina(codigo)
);

-- pré-requisito entre cursos (auto N:M)
CREATE TABLE CursoPreRequisitoCurso (
    codigoCurso             varchar(50) NOT NULL,
    codigoCursoPreRequisito varchar(50) NOT NULL,
    PRIMARY KEY (codigoCurso, codigoCursoPreRequisito),
    FOREIGN KEY (codigoCurso)             REFERENCES Curso(codigo),
    FOREIGN KEY (codigoCursoPreRequisito) REFERENCES Curso(codigo)
);

-- disciplina pré-requisito de curso (N:M)
CREATE TABLE DisciplinaPreRequisitoCurso (
    codigoCurso      varchar(50) NOT NULL,
    codigoDisciplina varchar(50) NOT NULL,
    PRIMARY KEY (codigoCurso, codigoDisciplina),
    FOREIGN KEY (codigoCurso)      REFERENCES Curso(codigo),
    FOREIGN KEY (codigoDisciplina) REFERENCES Disciplina(codigo)
);

-- turma < - > aviso
CREATE TABLE TurmaRecebeAviso (
    id_turma integer NOT NULL,
    id_aviso integer NOT NULL,
    PRIMARY KEY (id_turma, id_aviso),
    FOREIGN KEY (id_turma) REFERENCES Turma(id_turma),
    FOREIGN KEY (id_aviso) REFERENCES AvisoGeral(id_aviso)
);

-- turma < - > mensagem
CREATE TABLE TurmaRecebeMensagem (
    id_turma    integer NOT NULL,
    id_mensagem integer NOT NULL,
    PRIMARY KEY (id_turma, id_mensagem),
    FOREIGN KEY (id_turma)    REFERENCES Turma(id_turma),
    FOREIGN KEY (id_mensagem) REFERENCES Mensagem(id_mensagem)
);

-- aluno < - > mensagem
CREATE TABLE AlunoRecebeMensagem (
    nomeAluno        varchar(100) NOT NULL,
    sobrenomeAluno   varchar(100) NOT NULL,
    telefoneAluno    varchar(20)  NOT NULL,
    id_mensagem      integer      NOT NULL,
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno, id_mensagem),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno)
        REFERENCES Aluno(nomeAluno, sobrenomeAluno, telefoneAluno),
    FOREIGN KEY (id_mensagem) REFERENCES Mensagem(id_mensagem)
);

-- professor < - > mensagem
CREATE TABLE ProfessorRecebeMensagem (
    nomeProfessor      varchar(100) NOT NULL,
    sobrenomeProfessor varchar(100) NOT NULL,
    telefoneProfessor  varchar(20)  NOT NULL,
    id_mensagem        integer      NOT NULL,
    PRIMARY KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor, id_mensagem),
    FOREIGN KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor)
        REFERENCES Professor(nomeProfessor, sobrenomeProfessor, telefoneProfessor),
    FOREIGN KEY (id_mensagem) REFERENCES Mensagem(id_mensagem)
);

-- funcionário < - > mensagem
CREATE TABLE FuncionarioAdministrativoRecebeMensagem (
    nomeFuncionario      varchar(100) NOT NULL,
    sobrenomeFuncionario varchar(100) NOT NULL,
    telefoneFuncionario  varchar(20)  NOT NULL,
    id_mensagem          integer      NOT NULL,
    PRIMARY KEY (nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario, id_mensagem),
    FOREIGN KEY (nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario)
        REFERENCES FuncionarioAdministrativo(nomeFuncionario, sobrenomeFuncionario, telefoneFuncionario),
    FOREIGN KEY (id_mensagem) REFERENCES Mensagem(id_mensagem)
);

-- matrícula < - > bolsa
CREATE TABLE MatriculaTemBolsa (
    nomeAluno        varchar(100) NOT NULL,
    sobrenomeAluno   varchar(100) NOT NULL,
    telefoneAluno    varchar(20)  NOT NULL,
    codigo_oferecimento integer   NOT NULL,
    data             date         NOT NULL,
    id_bolsa         integer      NOT NULL,
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data, id_bolsa),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data)
        REFERENCES Matricula(nomeAluno, sobrenomeAluno, telefoneAluno,
                             codigo_oferecimento, data),
    FOREIGN KEY (id_bolsa) REFERENCES Bolsa(id_bolsa)
);

-- matrícula < - > desconto
CREATE TABLE MatriculaTemDesconto (
    nomeAluno        varchar(100) NOT NULL,
    sobrenomeAluno   varchar(100) NOT NULL,
    telefoneAluno    varchar(20)  NOT NULL,
    codigo_oferecimento integer   NOT NULL,
    data             date         NOT NULL,
    id_desconto      integer      NOT NULL,
    PRIMARY KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data, id_desconto),
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno,
                 codigo_oferecimento, data)
        REFERENCES Matricula(nomeAluno, sobrenomeAluno, telefoneAluno,
                             codigo_oferecimento, data),
    FOREIGN KEY (id_desconto) REFERENCES Desconto(id_desconto)
);

-- avaliação (aluno - professor ou oferta)
CREATE TABLE Avaliacao (
    id_avaliacao       serial PRIMARY KEY,
    texto              text NOT NULL,
    didatica           smallint,
    nomeAluno          varchar(100) NOT NULL,
    sobrenomeAluno     varchar(100) NOT NULL,
    telefoneAluno      varchar(20)  NOT NULL,
    nomeProfessor      varchar(100),
    sobrenomeProfessor varchar(100),
    telefoneProfessor  varchar(20),
    codigo_oferecimento integer,
    FOREIGN KEY (nomeAluno, sobrenomeAluno, telefoneAluno)
        REFERENCES Aluno(nomeAluno, sobrenomeAluno, telefoneAluno),
    FOREIGN KEY (nomeProfessor, sobrenomeProfessor, telefoneProfessor)
        REFERENCES Professor(nomeProfessor, sobrenomeProfessor, telefoneProfessor),
    FOREIGN KEY (codigo_oferecimento) REFERENCES Oferecimento(codigo_oferecimento),
    CHECK (
        ((nomeProfessor IS NOT NULL)::int
       + (codigo_oferecimento IS NOT NULL)::int) = 1
    )
);

 * postgresql://postgres:***@localhost:5432/universidade
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Inserir os dados gerados no exercício 4 em nossa base de dados. Como, nos próximos exercícios, trabalharemos com tecnologias de indexação, decidimos criar dados sintéticos. Dessa forma, podemos inserir um volume grande de registros e aproveitar o potencial dessas tecnologias para avaliar desempenho e escalabilidade.

In [16]:
# lê todo o conteúdo do arquivo
sql_text = Path('inserts.sql').read_text()

# usa sqlparse.split para separar statements corretamente
statements = sqlparse.split(sql_text)

# para cada statement não vazio, executa com %sql
for stmt in statements:
    stmt_clean = stmt.strip()
    if not stmt_clean:
        continue
    # mostra início do statement (opcional, para debug)
    print("executando:", stmt_clean[:60].replace('\n',' ') + ('...' if len(stmt_clean)>60 else ''))
    # executa via ipython-sql magic
    get_ipython().run_cell_magic('sql', '', stmt_clean)

executando: -- vai percorrer todas tabelas no schema public e as trunca,...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: --  gera 10 registros de UnidadeEscolar com código padroniza...
 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.
executando: -- gera 100 salas físicas de aula ou laboratório INSERT INTO...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria regras acadêmicas genéricas (ex: frequencia minima, ...
 * postgresql://postgres:***@localhost:5432/universidade
50 rows affected.
executando: -- gera recursos de infra (ex: laboratorio, projetor) pra as...
 * postgresql://postgres:***@localhost:5432/universidade
50 rows affected.
executando: -- gera turmas lógicas, cada uma com capacidade de alunos en...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria bolsas de estudo variadas, com valor aleatório até 5...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: --  descontos financeiros para aplicar em matrículas, com va...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria 2000 alunos de teste com nome, sobrenome e telefone ...
 * postgresql://postgres:***@localhost:5432/universidade
2000 rows affected.
executando: --  gera 500 professores com dados de identificação únicos I...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- gera funcionários administrativos fictícios, sem vinculaç...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 100 departamentos acadêmicos,  -- atribui como che...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- gera cursos fictícios com código 'C001' a 'C500' -- carga...
 * postgresql://postgres:***@localhost:5432/universidade
(psycopg2.errors.UndefinedFunction) operator does not exist: - character varying
LINE 14:   (floor(random()*100)+1)::int,                           -
                                                                   ^
HINT:  No operator matches the given name and argument type. You might need to add an explicit type cast.

[SQL: -- gera cursos fictícios com código 'C001' a 'C500'
-- carga horária e vagas aleatórias, nível aleatório entre Grad, Pos e Extensão
-- Atribui id_sala aleatório (supõe que salas existam com ids compatíveis), departamento randômico e UnidadeEscolar aleatória entre códigos 01U a 10U
INSERT INTO Curso(
  codigo, nome, carga_horaria, total_vagas, nivel,
  id_sala, codigoDepartamento, codigoUnidadeEscolar
)
SELECT
  'C' || LPAD(gs::text,3,'0'),
  'Curso ' || gs,
  (floor(random()*200)+20)::int,                          -- carga horária entre 20 e 219 horas
  (floor(random()*100)+10)::int,                          -- vagas entre 10 e 109
  (array['Grad','Pos','Ext'])[floor(random()*3)+1],       -- nível de ensino aleatório
  (floor(random()*100)+1)::int,                           -
  (SELECT codigo FROM DepartamentoAcademico ORDER BY random() LIMIT 1),
  lpad((floor(random()*10)+1)::text, 2, '0') || 'U'       -- vincula UnidadeEscolar 01U a 10U aleatória
FROM generate_series(1,500) AS gs;]
(Background on this error at: https://sqlalche.me/e/20/f405)
executando: -- insere 500 disciplinas vinculadas a professor e unidade e...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- insere 200 mensagens com remetente aleatório (aluno/profe...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 200 avisos gerais enviados por funcionários admini...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 2000 oferecimentos (Disciplina < - > Turma) em per...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- insere 500 ministra (Sala < - > Turma < - > horário) -- O...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- insere matrículas (Aluno < - > Oferecimento) INSERT INTO ...
 * postgresql://postgres:***@localhost:5432/universidade
10000 rows affected.
executando: -- insere notas (Notas de Matrícula) -- simulando avaliações...
 * postgresql://postgres:***@localhost:5432/universidade
10000 rows affected.
executando: -- associa cursos e regras de forma randômica, até 1000 pare...
 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.
executando: -- PrecisaInfraestrutura (Curso < - > Infraestrutura) -- obs...
 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.
executando: -- CursoTemDisciplina (Curso < - > Disciplina) -- ON CONFLIC...
 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.
executando: -- CursoPreRequisitoCurso (Curso < - > Outro Curso) -- já qu...
 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.
executando: -- DisciplinaPreRequisitoCurso (Curso < - > Disciplina) -- o...
 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.
executando: -- TurmaRecebeAviso (Turma < - > AvisoGeral) -- para cada tu...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- TurmaRecebeMensagem (Turma < - > Mensagem) -- associa tur...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- AlunoRecebeMensagem (Aluno < - > Mensagem) -- vincula cad...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- ProfessorRecebeMensagem (Professor < - > Mensagem) -- rel...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- FuncionarioAdministrativoRecebeMensagem (FuncAdmin < - > ...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- MatriculaTemBolsa (Matrícula < - > Bolsa) -- distribui bo...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- MatriculaTemDesconto (Matrícula < - > Desconto) -- análog...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- Avaliação de professor com distribuição variada -- Para c...
 * postgresql://postgres:***@localhost:5432/universidade
5407 rows affected.
executando: -- Avaliação de oferta com distribuição variada -- para cada...
 * postgresql://postgres:***@localhost:5432/universidade
5261 rows affected.

### Consultas

#### Listar alunos matriculados em disciplina e período com matrículas existentes

In [19]:
%%sql
-- escolhe 1 par (disciplina - período) que já tenha matrícula
WITH alvo AS (
    -- seleciona código da disciplina e período de oferecimento que já possuem ao menos uma matrícula
    SELECT
        d.codigo  AS disc,          
        o.periodo AS per            -- período em que a disciplina foi oferecida
    FROM Disciplina d
    JOIN Oferecimento o 
      ON o.codigo = d.codigo       -- relaciona disciplina com seu oferecimento
    JOIN Matricula m 
      ON m.codigo_oferecimento = o.codigo_oferecimento  -- ve que existe matrícula pra este oferecimento
    GROUP BY d.codigo, o.periodo   -- agrupa por disciplina e período
    HAVING COUNT(*) > 0            -- mantém apenas grupos com pelo menos uma matrícula
    ORDER BY d.codigo, o.periodo   -- cria critério determinístico de ordenação
    LIMIT 1                        -- limita a apenas um par (disciplina, período)
)

-- lista todos os alunos desse par escolhido
SELECT
    a.nomeAluno,                 
    a.sobrenomeAluno,             
    a.telefoneAluno,              
    alvo.disc        AS disciplina, -- disciplina selecionada no CTE
    alvo.per         AS periodo    -- período selecionado no CTE
FROM alvo
JOIN Oferecimento o 
  ON o.codigo  = alvo.disc        -- filtra apenas o oferecimento correspondente a disciplina escolhida
 AND o.periodo = alvo.per         -- e ao período escolhido
JOIN Matricula m 
  ON m.codigo_oferecimento = o.codigo_oferecimento  -- obtém todas as matrículas para esse oferecimento
JOIN Aluno a 
  ON (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno)
     = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)  -- relaciona matrícula ao registro do aluno
ORDER BY a.sobrenomeAluno, a.nomeAluno  -- ordena o resultado por sobrenome e depois o nome
;

 * postgresql://postgres:***@localhost:5432/universidade
24 rows affected.

[('Nome1044', 'SobNome1044', '82869663', 'D001', '2025-2'),
 ('Nome1074', 'SobNome1074', '95812216', 'D001', '2025-2'),
 ('Nome114', 'SobNome114', '07014889', 'D001', '2025-2'),
 ('Nome1241', 'SobNome1241', '25856338', 'D001', '2025-2'),
 ('Nome1277', 'SobNome1277', '89679064', 'D001', '2025-2'),
 ('Nome1359', 'SobNome1359', '00245908', 'D001', '2025-2'),
 ('Nome1381', 'SobNome1381', '82286538', 'D001', '2025-2'),
 ('Nome1447', 'SobNome1447', '63024167', 'D001', '2025-2'),
 ('Nome1493', 'SobNome1493', '50994928', 'D001', '2025-2'),
 ('Nome15', 'SobNome15', '40022412', 'D001', '2025-2'),
 ('Nome241', 'SobNome241', '82151326', 'D001', '2025-2'),
 ('Nome259', 'SobNome259', '55897132', 'D001', '2025-2'),
 ('Nome294', 'SobNome294', '73229118', 'D001', '2025-2'),
 ('Nome372', 'SobNome372', '91542242', 'D001', '2025-2'),
 ('Nome470', 'SobNome470', '05462578', 'D001', '2025-2'),
 ('Nome473', 'SobNome473', '86065383', 'D001', '2025-2'),
 ('Nome649', 'SobNome649', '05969214', 'D001', '2025-2'),
 ('Nome700', 'SobNome700', '13974644', 'D001', '2025-2'),
 ('Nome718', 'SobNome718', '55447191', 'D001', '2025-2'),
 ('Nome775', 'SobNome775', '36621851', 'D001', '2025-2'),
 ('Nome853', 'SobNome853', '52381834', 'D001', '2025-2'),
 ('Nome929', 'SobNome929', '30018956', 'D001', '2025-2'),
 ('Nome955', 'SobNome955', '18015986', 'D001', '2025-2'),
 ('Nome991', 'SobNome991', '64545384', 'D001', '2025-2')]

####  Calcular média de notas de um aluno específico

In [20]:
%%sql
-- média das notas de um aluno 
SELECT
  a.nomeAluno,                                      
  a.sobrenomeAluno,                                 
  ROUND(AVG(n.nota), 2) AS media_geral                -- arredonda a média das notas com 2 casas decimais
FROM Aluno a
JOIN Notas n 
  ON (n.nomeAluno, n.sobrenomeAluno, n.telefoneAluno) = 
     (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno) -- relaciona cada nota ao respectivo aluno
WHERE a.nomeAluno      = 'Nome250'                    -- filtra pelo nome do aluno desejado
  AND a.sobrenomeAluno = 'SobNome250'                 -- e sobrenome
GROUP BY 
  a.nomeAluno,                                        -- agrupa por nome pra calcular média por aluno
  a.sobrenomeAluno;

 * postgresql://postgres:***@localhost:5432/universidade
1 rows affected.

[('Nome250', 'SobNome250', Decimal('3.38'))]

#### Listar professores que ministram mais de uma disciplina e suas disciplinas

In [21]:
%%sql
-- professores que ministram mais de uma disciplina, listando as disciplinas de cada 
SELECT
    p.nomeProfessor,                                  
    p.sobrenomeProfessor,                             
    p.telefoneProfessor,                               
    array_agg(d.codigo ORDER BY d.codigo) AS disciplinas -- agrega codigos das disciplinas em um array ordenado
FROM Professor p
JOIN Disciplina d
  ON (d.nomeProfessor, d.sobrenomeProfessor, d.telefoneProfessor)
     = (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor) 
    -- relaciona disciplina ao professor que a ministra
GROUP BY
    p.nomeProfessor,                                   -- agrupa por nome do professor
    p.sobrenomeProfessor,                              -- sobrenome do professor
    p.telefoneProfessor                                -- telefone para chave unica
HAVING
    COUNT(*) > 1                                       -- filtra apenas professores com mais de uma disciplina
ORDER BY
    p.nomeProfessor,                                  -- ordena resultado por nome do professor
    p.sobrenomeProfessor                              -- e depois por sobrenome do professor
LIMIT 50;                                            -- limita a 50 resultados

 * postgresql://postgres:***@localhost:5432/universidade
50 rows affected.

[('Prof105', 'SobProf105', '53714733', ['D033', 'D065']),
 ('Prof110', 'SobProf110', '57606829', ['D005', 'D084']),
 ('Prof111', 'SobProf111', '23389109', ['D136', 'D273', 'D345']),
 ('Prof113', 'SobProf113', '85009462', ['D151', 'D302']),
 ('Prof115', 'SobProf115', '99861167', ['D202', 'D346']),
 ('Prof116', 'SobProf116', '24917819', ['D143', 'D376']),
 ('Prof122', 'SobProf122', '53913165', ['D368', 'D425']),
 ('Prof128', 'SobProf128', '92622873', ['D078', 'D241']),
 ('Prof13', 'SobProf13', '33294963', ['D118', 'D441']),
 ('Prof131', 'SobProf131', '53126132', ['D008', 'D416', 'D473']),
 ('Prof132', 'SobProf132', '27817522', ['D171', 'D438']),
 ('Prof139', 'SobProf139', '23510477', ['D013', 'D366']),
 ('Prof140', 'SobProf140', '23556691', ['D140', 'D262']),
 ('Prof143', 'SobProf143', '92312196', ['D108', 'D163']),
 ('Prof145', 'SobProf145', '14552384', ['D106', 'D213']),
 ('Prof149', 'SobProf149', '33197941', ['D007', 'D041']),
 ('Prof152', 'SobProf152', '37026052', ['D129', 'D227', 'D375']),
 ('Prof153', 'SobProf153', '05278933', ['D188', 'D325']),
 ('Prof162', 'SobProf162', '21162708', ['D040', 'D403', 'D453']),
 ('Prof163', 'SobProf163', '45887099', ['D121', 'D423']),
 ('Prof165', 'SobProf165', '24255585', ['D036', 'D059', 'D122', 'D141']),
 ('Prof170', 'SobProf170', '33127059', ['D221', 'D417']),
 ('Prof178', 'SobProf178', '33909425', ['D094', 'D147']),
 ('Prof183', 'SobProf183', '21054894', ['D091', 'D347']),
 ('Prof185', 'SobProf185', '95151887', ['D236', 'D300']),
 ('Prof187', 'SobProf187', '90352077', ['D090', 'D335']),
 ('Prof192', 'SobProf192', '26909388', ['D002', 'D468']),
 ('Prof197', 'SobProf197', '02090235', ['D185', 'D310']),
 ('Prof201', 'SobProf201', '79074088', ['D316', 'D498']),
 ('Prof203', 'SobProf203', '34655445', ['D076', 'D146', 'D413']),
 ('Prof208', 'SobProf208', '80827146', ['D079', 'D380']),
 ('Prof210', 'SobProf210', '12224088', ['D337', 'D340']),
 ('Prof212', 'SobProf212', '87817562', ['D435', 'D476']),
 ('Prof216', 'SobProf216', '94139356', ['D284', 'D370']),
 ('Prof218', 'SobProf218', '93928798', ['D336', 'D385']),
 ('Prof219', 'SobProf219', '67797681', ['D205', 'D224']),
 ('Prof222', 'SobProf222', '66592865', ['D220', 'D448']),
 ('Prof225', 'SobProf225', '74119262', ['D328', 'D360']),
 ('Prof233', 'SobProf233', '72591213', ['D199', 'D428']),
 ('Prof237', 'SobProf237', '73973600', ['D055', 'D298']),
 ('Prof255', 'SobProf255', '19886006', ['D245', 'D334', 'D488']),
 ('Prof26', 'SobProf26', '74307543', ['D038', 'D088', 'D283']),
 ('Prof266', 'SobProf266', '50352157', ['D219', 'D246']),
 ('Prof269', 'SobProf269', '62569338', ['D132', 'D481']),
 ('Prof27', 'SobProf27', '64823305', ['D175', 'D352']),
 ('Prof271', 'SobProf271', '67147342', ['D177', 'D243', 'D495']),
 ('Prof278', 'SobProf278', '87760689', ['D153', 'D195']),
 ('Prof283', 'SobProf283', '02473310', ['D011', 'D432']),
 ('Prof286', 'SobProf286', '53161228', ['D450', 'D494']),
 ('Prof289', 'SobProf289', '45713955', ['D030', 'D383'])]

#### Listar cursos oferecidos no último período sem matrículas

In [22]:
%%sql
-- cursos que não tiveram matrículas no último período
WITH ult AS (
    -- pega o último período presente na tabela Oferecimento
    SELECT MAX(periodo) AS per FROM Oferecimento
),
offers_ult AS (
    -- seleciona os oferecimentos que ocorreram no último período
    SELECT o.codigo_oferecimento, o.codigo
    FROM Oferecimento o, ult
    WHERE o.periodo = ult.per
),
cursos_ult AS (
    -- identifica cursos que tiveram pelo menos um oferecimento no último período
    SELECT DISTINCT ctd.codigoCurso
    FROM offers_ult ou
    JOIN CursoTemDisciplina ctd
      ON ctd.codigoDisciplina = ou.codigo
),
matric AS (
    -- identifica cursos que possuem qualquer matrícula registrada (em qualquer período)
    SELECT DISTINCT ctd.codigoCurso
    FROM Matricula m
    JOIN Oferecimento o 
      ON o.codigo_oferecimento = m.codigo_oferecimento
    JOIN CursoTemDisciplina ctd 
      ON ctd.codigoDisciplina = o.codigo
)
SELECT 
    c.codigo,             
    c.nome                 
FROM Curso c
JOIN cursos_ult cu 
  ON cu.codigoCurso = c.codigo  -- filtra apenas cursos com oferta no último período
LEFT JOIN matric ma 
  ON ma.codigoCurso = c.codigo  -- tenta encontrar matrícula em qualquer período
WHERE ma.codigoCurso IS NULL    -- mantém somente cursos sem nenhuma matrícula registrada
ORDER BY c.codigo;              -- ordena resultado pelo código do curso

 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.

[]

#### Listar salas mais usadas pelo número de ministrações

In [23]:
%%sql
SELECT 
    s.id_sala,                          
    COUNT(*) AS ministracoes            -- conta quantas aulas aconteceram nessa sala
FROM Sala s
JOIN Ministra m USING (id_sala)        -- relaciona cada registro de Ministra a sua sala
GROUP BY s.id_sala                     -- agrupa por sala para agregar contagem
ORDER BY ministracoes DESC             -- ordena decrescente, mostrando primeiro as mais utilizadas
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[(11, 11),
 (6, 11),
 (65, 9),
 (52, 9),
 (15, 9),
 (73, 8),
 (90, 8),
 (14, 8),
 (97, 7),
 (34, 7)]

#### Calcular valor total das bolsas concedidas a alunos por curso

In [24]:
%%sql
/* valor total (R$) das bolsas concedidas a alunos de cada curso */
WITH cursos AS (
    SELECT 
        codigo AS codigoCurso,  -- alias unificado para usar dps
        nome
    FROM Curso
),
mat_bolsa AS (
    -- relaciona matrícula, oferecimento, disciplina e bolsas pra obter valor da bolsa por aluno e curso
    SELECT
        m.nomeAluno,          
        m.sobrenomeAluno,    
        m.telefoneAluno,     
        ctd.codigoCurso,      
        b.valor_bolsa        
    FROM Matricula m
    JOIN Oferecimento o
      ON o.codigo_oferecimento = m.codigo_oferecimento  
       -- vincula matrícula ao seu oferecimento (disciplina + período)
    JOIN CursoTemDisciplina ctd
      ON ctd.codigoDisciplina = o.codigo               
       -- obtém o curso ao qual a disciplina oferecida pertence
    JOIN MatriculaTemBolsa mb
      ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
         = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
       -- associa matrícula a bolsa concedida nessa matrícula
    JOIN Bolsa b
      ON b.id_bolsa = mb.id_bolsa                       
       -- geta o valor da bolsa concedida
)
SELECT
    c.codigoCurso                                   AS curso,                
    c.nome                                          AS nome_curso,          
    COUNT(DISTINCT (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno))
                                                  AS alunos_com_bolsa,     -- num de alunos distintos que receberam bolsa nesse curso
    SUM(mb.valor_bolsa)::numeric(12,2)              AS soma_das_bolsas_em_reais  -- soma dos valores de bolsa para o curso
FROM cursos c
LEFT JOIN mat_bolsa mb 
  ON mb.codigoCurso = c.codigoCurso               -- vincula bolsas ao curso; LEFT JOIN para incluir cursos sem bolsas
GROUP BY 
    c.codigoCurso,                                 
    c.nome
ORDER BY 
    soma_das_bolsas_em_reais DESC NULLS LAST       -- ordena do maior total de bolsas ao menor; NULLS LAST coloca cursos sem bolsas ao final
LIMIT 15;                                          -- limita aos top 15 cursos

 * postgresql://postgres:***@localhost:5432/universidade
0 rows affected.

[]

In [13]:
%%sql
/* ver quantas avaliações cada professor recebeu */
SELECT 
  p.nomeProfessor,
  p.sobrenomeProfessor,
  COUNT(*) AS num_avals
FROM Avaliacao a
JOIN Professor p
  ON (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
     = (a.nomeProfessor, a.sobrenomeProfessor, a.telefoneProfessor)
GROUP BY p.nomeProfessor, p.sobrenomeProfessor
ORDER BY num_avals ASC
LIMIT 100;

 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.

[('Prof344', 'SobProf344', 1),
 ('Prof288', 'SobProf288', 1),
 ('Prof285', 'SobProf285', 1),
 ('Prof453', 'SobProf453', 1),
 ('Prof284', 'SobProf284', 1),
 ('Prof30', 'SobProf30', 1),
 ('Prof225', 'SobProf225', 1),
 ('Prof92', 'SobProf92', 1),
 ('Prof218', 'SobProf218', 1),
 ('Prof425', 'SobProf425', 1),
 ('Prof236', 'SobProf236', 1),
 ('Prof311', 'SobProf311', 1),
 ('Prof137', 'SobProf137', 1),
 ('Prof198', 'SobProf198', 1),
 ('Prof165', 'SobProf165', 1),
 ('Prof414', 'SobProf414', 1),
 ('Prof262', 'SobProf262', 1),
 ('Prof398', 'SobProf398', 1),
 ('Prof93', 'SobProf93', 1),
 ('Prof232', 'SobProf232', 1),
 ('Prof281', 'SobProf281', 1),
 ('Prof326', 'SobProf326', 1),
 ('Prof444', 'SobProf444', 1),
 ('Prof37', 'SobProf37', 1),
 ('Prof457', 'SobProf457', 1),
 ('Prof143', 'SobProf143', 1),
 ('Prof214', 'SobProf214', 1),
 ('Prof318', 'SobProf318', 1),
 ('Prof280', 'SobProf280', 1),
 ('Prof286', 'SobProf286', 1),
 ('Prof212', 'SobProf212', 1),
 ('Prof471', 'SobProf471', 2),
 ('Prof140', 'SobProf140', 2),
 ('Prof57', 'SobProf57', 2),
 ('Prof118', 'SobProf118', 2),
 ('Prof400', 'SobProf400', 2),
 ('Prof113', 'SobProf113', 2),
 ('Prof360', 'SobProf360', 2),
 ('Prof245', 'SobProf245', 2),
 ('Prof106', 'SobProf106', 2),
 ('Prof446', 'SobProf446', 2),
 ('Prof359', 'SobProf359', 2),
 ('Prof239', 'SobProf239', 2),
 ('Prof69', 'SobProf69', 2),
 ('Prof122', 'SobProf122', 2),
 ('Prof265', 'SobProf265', 2),
 ('Prof490', 'SobProf490', 2),
 ('Prof11', 'SobProf11', 2),
 ('Prof12', 'SobProf12', 2),
 ('Prof474', 'SobProf474', 2),
 ('Prof373', 'SobProf373', 2),
 ('Prof458', 'SobProf458', 2),
 ('Prof270', 'SobProf270', 2),
 ('Prof247', 'SobProf247', 2),
 ('Prof131', 'SobProf131', 2),
 ('Prof202', 'SobProf202', 2),
 ('Prof450', 'SobProf450', 2),
 ('Prof383', 'SobProf383', 2),
 ('Prof489', 'SobProf489', 3),
 ('Prof177', 'SobProf177', 3),
 ('Prof64', 'SobProf64', 3),
 ('Prof142', 'SobProf142', 3),
 ('Prof158', 'SobProf158', 3),
 ('Prof338', 'SobProf338', 3),
 ('Prof43', 'SobProf43', 3),
 ('Prof104', 'SobProf104', 3),
 ('Prof370', 'SobProf370', 3),
 ('Prof121', 'SobProf121', 3),
 ('Prof62', 'SobProf62', 3),
 ('Prof305', 'SobProf305', 3),
 ('Prof418', 'SobProf418', 3),
 ('Prof148', 'SobProf148', 3),
 ('Prof259', 'SobProf259', 3),
 ('Prof484', 'SobProf484', 3),
 ('Prof217', 'SobProf217', 3),
 ('Prof89', 'SobProf89', 3),
 ('Prof427', 'SobProf427', 3),
 ('Prof18', 'SobProf18', 3),
 ('Prof63', 'SobProf63', 3),
 ('Prof257', 'SobProf257', 3),
 ('Prof273', 'SobProf273', 3),
 ('Prof227', 'SobProf227', 3),
 ('Prof29', 'SobProf29', 3),
 ('Prof321', 'SobProf321', 3),
 ('Prof275', 'SobProf275', 3),
 ('Prof56', 'SobProf56', 4),
 ('Prof76', 'SobProf76', 4),
 ('Prof492', 'SobProf492', 4),
 ('Prof386', 'SobProf386', 4),
 ('Prof160', 'SobProf160', 4),
 ('Prof468', 'SobProf468', 4),
 ('Prof278', 'SobProf278', 4),
 ('Prof470', 'SobProf470', 4),
 ('Prof486', 'SobProf486', 4),
 ('Prof248', 'SobProf248', 4),
 ('Prof310', 'SobProf310', 4),
 ('Prof230', 'SobProf230', 4),
 ('Prof454', 'SobProf454', 4),
 ('Prof150', 'SobProf150', 4),
 ('Prof196', 'SobProf196', 4)]

#### Contar número de avaliações recebidas por cada professor

In [12]:
%%sql
/* ver quantas avaliações cada professor recebeu */
SELECT 
  p.nomeProfessor,                                  
  p.sobrenomeProfessor,                              
  COUNT(*) AS num_avals                               -- conta quantidade de avaliações associadas ao professor
FROM Avaliacao a
JOIN Professor p
  ON (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
     = (a.nomeProfessor, a.sobrenomeProfessor, a.telefoneProfessor)
     -- relaciona cada avaliação ao professor correspondente pela chave (nome, sobrenome, telefone)
GROUP BY 
  p.nomeProfessor,                                   -- agrupa por nome e sobrenome do professor para agregar contagem
  p.sobrenomeProfessor                               
ORDER BY 
  num_avals ASC                                      -- ordena do menor número de avaliações ao maior
LIMIT 100;

 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.

[('Prof122', 'SobProf122', 1),
 ('Prof253', 'SobProf253', 1),
 ('Prof15', 'SobProf15', 1),
 ('Prof467', 'SobProf467', 1),
 ('Prof80', 'SobProf80', 1),
 ('Prof390', 'SobProf390', 1),
 ('Prof1', 'SobProf1', 1),
 ('Prof205', 'SobProf205', 1),
 ('Prof413', 'SobProf413', 1),
 ('Prof480', 'SobProf480', 1),
 ('Prof46', 'SobProf46', 1),
 ('Prof169', 'SobProf169', 1),
 ('Prof231', 'SobProf231', 1),
 ('Prof54', 'SobProf54', 1),
 ('Prof317', 'SobProf317', 1),
 ('Prof415', 'SobProf415', 1),
 ('Prof158', 'SobProf158', 1),
 ('Prof112', 'SobProf112', 1),
 ('Prof61', 'SobProf61', 1),
 ('Prof39', 'SobProf39', 1),
 ('Prof189', 'SobProf189', 1),
 ('Prof21', 'SobProf21', 1),
 ('Prof82', 'SobProf82', 1),
 ('Prof86', 'SobProf86', 2),
 ('Prof395', 'SobProf395', 2),
 ('Prof237', 'SobProf237', 2),
 ('Prof137', 'SobProf137', 2),
 ('Prof339', 'SobProf339', 2),
 ('Prof404', 'SobProf404', 2),
 ('Prof380', 'SobProf380', 2),
 ('Prof334', 'SobProf334', 2),
 ('Prof484', 'SobProf484', 2),
 ('Prof372', 'SobProf372', 2),
 ('Prof110', 'SobProf110', 2),
 ('Prof278', 'SobProf278', 2),
 ('Prof102', 'SobProf102', 2),
 ('Prof153', 'SobProf153', 2),
 ('Prof405', 'SobProf405', 2),
 ('Prof31', 'SobProf31', 2),
 ('Prof303', 'SobProf303', 2),
 ('Prof275', 'SobProf275', 2),
 ('Prof127', 'SobProf127', 2),
 ('Prof481', 'SobProf481', 2),
 ('Prof460', 'SobProf460', 3),
 ('Prof126', 'SobProf126', 3),
 ('Prof463', 'SobProf463', 3),
 ('Prof202', 'SobProf202', 3),
 ('Prof336', 'SobProf336', 3),
 ('Prof154', 'SobProf154', 3),
 ('Prof470', 'SobProf470', 3),
 ('Prof393', 'SobProf393', 3),
 ('Prof199', 'SobProf199', 3),
 ('Prof43', 'SobProf43', 3),
 ('Prof319', 'SobProf319', 3),
 ('Prof284', 'SobProf284', 3),
 ('Prof309', 'SobProf309', 3),
 ('Prof411', 'SobProf411', 3),
 ('Prof245', 'SobProf245', 3),
 ('Prof47', 'SobProf47', 3),
 ('Prof95', 'SobProf95', 3),
 ('Prof295', 'SobProf295', 3),
 ('Prof487', 'SobProf487', 3),
 ('Prof369', 'SobProf369', 3),
 ('Prof139', 'SobProf139', 3),
 ('Prof441', 'SobProf441', 3),
 ('Prof22', 'SobProf22', 3),
 ('Prof488', 'SobProf488', 3),
 ('Prof128', 'SobProf128', 3),
 ('Prof412', 'SobProf412', 3),
 ('Prof494', 'SobProf494', 3),
 ('Prof79', 'SobProf79', 3),
 ('Prof313', 'SobProf313', 3),
 ('Prof24', 'SobProf24', 3),
 ('Prof131', 'SobProf131', 3),
 ('Prof479', 'SobProf479', 3),
 ('Prof493', 'SobProf493', 3),
 ('Prof192', 'SobProf192', 3),
 ('Prof382', 'SobProf382', 3),
 ('Prof38', 'SobProf38', 4),
 ('Prof136', 'SobProf136', 4),
 ('Prof214', 'SobProf214', 4),
 ('Prof56', 'SobProf56', 4),
 ('Prof90', 'SobProf90', 4),
 ('Prof316', 'SobProf316', 4),
 ('Prof436', 'SobProf436', 4),
 ('Prof206', 'SobProf206', 4),
 ('Prof171', 'SobProf171', 4),
 ('Prof496', 'SobProf496', 4),
 ('Prof362', 'SobProf362', 4),
 ('Prof188', 'SobProf188', 4),
 ('Prof74', 'SobProf74', 4),
 ('Prof236', 'SobProf236', 4),
 ('Prof320', 'SobProf320', 4),
 ('Prof301', 'SobProf301', 4),
 ('Prof498', 'SobProf498', 4),
 ('Prof397', 'SobProf397', 4),
 ('Prof465', 'SobProf465', 4),
 ('Prof240', 'SobProf240', 4),
 ('Prof4', 'SobProf4', 4),
 ('Prof377', 'SobProf377', 5)]

#### Identificar ofertas com matrícula acima da capacidade da turma

In [13]:
%%sql
/* ofertas cujo número de matrículas excede a capacidade da turma associada */
SELECT
  o.codigo_oferecimento,  -- identifica o registro de oferecimento (disciplina + período)
  o.periodo,            
  t.id_turma,           
  t.capacidade AS cap_turma,  
  COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) AS qtd_matriculas
    -- conta alunos distintos matriculados neste oferecimento
FROM Oferecimento o
JOIN Turma t 
  ON t.id_turma = o.id_turma
    -- vincula oferecimento a turma pra obter capacidade
LEFT JOIN Matricula m 
  ON m.codigo_oferecimento = o.codigo_oferecimento
    -- tenta achar todas as matrículas para este oferecimento
    -- LEFT JOIN permite ofertas sem matrícula
GROUP BY 
  o.codigo_oferecimento,  -- agrupa por oferecimento para contar matrículas por oferta
  o.periodo,
  t.id_turma,
  t.capacidade
HAVING 
  COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) > t.capacidade
    -- filtra apenas as ofertas em que a quantidade de matrículas ultrapassa a capacidade da turma
ORDER BY 
  (COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) - t.capacidade) DESC
    -- ordena pelo maior excesso de matrículas em relação a capacidade, do maior pro menor
;

 * postgresql://postgres:***@localhost:5432/universidade
118 rows affected.

[(431, '2026-1', 62, 12, 33),
 (412, '2026-1', 28, 10, 29),
 (89, '2026-1', 5, 11, 29),
 (140, '2025-1', 55, 11, 27),
 (116, '2025-2', 28, 10, 26),
 (181, '2025-1', 28, 10, 25),
 (212, '2025-1', 77, 10, 24),
 (156, '2025-1', 28, 10, 24),
 (234, '2026-1', 55, 11, 25),
 (467, '2025-2', 55, 11, 24),
 (457, '2025-2', 19, 15, 28),
 (55, '2026-1', 28, 10, 23),
 (370, '2025-1', 28, 10, 22),
 (106, '2026-1', 5, 11, 23),
 (270, '2026-1', 55, 11, 23),
 (20, '2025-2', 19, 15, 27),
 (389, '2025-1', 12, 11, 23),
 (222, '2025-2', 77, 10, 21),
 (479, '2026-1', 62, 12, 23),
 (478, '2026-1', 12, 11, 22),
 (8, '2025-2', 62, 12, 23),
 (92, '2026-1', 55, 11, 22),
 (444, '2026-1', 5, 11, 22),
 (133, '2026-1', 5, 11, 22),
 (225, '2026-1', 77, 10, 21),
 (417, '2025-1', 77, 10, 20),
 (354, '2025-2', 28, 10, 19),
 (172, '2025-1', 55, 11, 20),
 (114, '2026-1', 19, 15, 24),
 (38, '2025-2', 77, 10, 19),
 (53, '2026-1', 31, 22, 31),
 (37, '2026-1', 65, 19, 28),
 (402, '2025-1', 5, 11, 19),
 (348, '2025-1', 28, 10, 18),
 (15, '2026-1', 94, 19, 27),
 (397, '2025-2', 65, 19, 27),
 (396, '2025-2', 97, 15, 23),
 (498, '2025-2', 28, 10, 18),
 (253, '2026-1', 98, 15, 23),
 (369, '2025-1', 62, 12, 20),
 (176, '2025-1', 24, 13, 21),
 (359, '2025-1', 46, 14, 22),
 (78, '2026-1', 97, 15, 23),
 (326, '2026-1', 42, 13, 20),
 (45, '2025-2', 25, 19, 26),
 (27, '2026-1', 24, 13, 20),
 (47, '2025-1', 70, 21, 28),
 (147, '2025-2', 84, 19, 26),
 (86, '2025-1', 6, 22, 29),
 (72, '2025-1', 19, 15, 21),
 (135, '2025-1', 10, 15, 21),
 (39, '2025-1', 84, 19, 25),
 (434, '2025-2', 22, 19, 25),
 (80, '2025-2', 98, 15, 21),
 (480, '2026-1', 46, 14, 20),
 (251, '2026-1', 59, 24, 30),
 (182, '2026-1', 77, 10, 16),
 (184, '2025-1', 19, 15, 21),
 (458, '2026-1', 36, 16, 22),
 (238, '2025-2', 16, 17, 23),
 (298, '2026-1', 5, 11, 16),
 (10, '2025-1', 62, 12, 17),
 (66, '2025-1', 19, 15, 20),
 (75, '2026-1', 70, 21, 26),
 (117, '2025-1', 70, 21, 26),
 (127, '2025-1', 70, 21, 26),
 (165, '2025-2', 16, 17, 22),
 (210, '2025-1', 65, 19, 24),
 (311, '2025-2', 22, 19, 24),
 (382, '2026-1', 77, 10, 15),
 (393, '2026-1', 10, 15, 20),
 (286, '2025-1', 25, 19, 23),
 (111, '2025-2', 36, 16, 20),
 (28, '2025-1', 82, 27, 31),
 (157, '2025-1', 62, 12, 16),
 (152, '2025-2', 5, 11, 15),
 (60, '2026-1', 5, 11, 15),
 (242, '2026-1', 45, 25, 29),
 (362, '2025-2', 42, 13, 17),
 (35, '2026-1', 98, 15, 19),
 (317, '2026-1', 80, 18, 22),
 (250, '2025-1', 28, 10, 13),
 (137, '2026-1', 46, 14, 17),
 (356, '2026-1', 88, 21, 24),
 (98, '2025-1', 40, 19, 22),
 (171, '2025-2', 25, 19, 22),
 (150, '2025-1', 5, 11, 14),
 (105, '2025-1', 24, 13, 16),
 (94, '2025-2', 36, 16, 19),
 (380, '2025-1', 98, 15, 18),
 (95, '2025-1', 19, 15, 17),
 (2, '2026-1', 19, 15, 17),
 (315, '2025-2', 31, 22, 24),
 (199, '2026-1', 40, 19, 21),
 (174, '2025-2', 10, 15, 17),
 (493, '2025-1', 50, 18, 20),
 (384, '2026-1', 65, 19, 21),
 (134, '2025-1', 93, 26, 28),
 (418, '2025-2', 94, 19, 21),
 (472, '2025-1', 46, 14, 16),
 (477, '2025-1', 42, 13, 15),
 (65, '2025-1', 12, 11, 13),
 (482, '2025-1', 59, 24, 26),
 (367, '2026-1', 46, 14, 15),
 (103, '2025-2', 70, 21, 22),
 (446, '2025-2', 98, 15, 16),
 (193, '2025-2', 62, 12, 13),
 (228, '2026-1', 22, 19, 20),
 (236, '2026-1', 70, 21, 22),
 (244, '2025-2', 40, 19, 20),
 (491, '2025-1', 75, 30, 31),
 (245, '2025-2', 98, 15, 16),
 (404, '2026-1', 50, 18, 19),
 (391, '2025-1', 36, 16, 17),
 (322, '2025-2', 44, 26, 27),
 (312, '2026-1', 10, 15, 16),
 (422, '2025-2', 88, 21, 22),
 (169, '2025-1', 84, 19, 20)]

## Exercício 7: Índices e planos de consulta

Adicionem aqui os SQL para criar índices e analisar planos com EXPLAIN.

Primeiro vamos analisar antes da criação dos índices.

In [43]:
%%sql
-- CONSULTA 1: Buscar oferecimentos por período (usa coluna 'periodo')
EXPLAIN ANALYZE
SELECT o.codigo_oferecimento, o.codigo, o.periodo
FROM Oferecimento o
WHERE o.periodo = '2025-2';

 * postgresql://postgres:***@localhost:5432/universidade
5 rows affected.

[('Seq Scan on oferecimento o  (cost=0.00..10.25 rows=159 width=16) (actual time=0.015..0.074 rows=159 loops=1)',),
 ("  Filter: ((periodo)::text = '2025-2'::text)",),
 ('  Rows Removed by Filter: 341',),
 ('Planning Time: 0.088 ms',),
 ('Execution Time: 0.091 ms',)]

In [44]:
%%sql
-- CONSULTA 2: JOIN entre Matricula e Oferecimento (usa FK codigo_oferecimento)
EXPLAIN ANALYZE
SELECT COUNT(*) as total_matriculas
FROM Matricula m
JOIN Oferecimento o ON o.codigo_oferecimento = m.codigo_oferecimento
WHERE o.periodo = '2025-2';

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[('Aggregate  (cost=198.97..198.97 rows=1 width=8) (actual time=0.831..0.832 rows=1 loops=1)',),
 ('  ->  Nested Loop  (cost=0.29..191.02 rows=3180 width=0) (actual time=0.030..0.700 rows=3153 loops=1)',),
 ('        ->  Seq Scan on oferecimento o  (cost=0.00..10.25 rows=159 width=4) (actual time=0.010..0.076 rows=159 loops=1)',),
 ("              Filter: ((periodo)::text = '2025-2'::text)",),
 ('              Rows Removed by Filter: 341',),
 ('        ->  Index Only Scan using idx_matricula_codigo_oferecimento on matricula m  (cost=0.29..0.94 rows=20 width=4) (actual time=0.001..0.002 rows=20 loops=159)',),
 ('              Index Cond: (codigo_oferecimento = o.codigo_oferecimento)',),
 ('              Heap Fetches: 0',),
 ('Planning Time: 0.257 ms',),
 ('Execution Time: 0.855 ms',)]

In [45]:
%%sql
-- CONSULTA 3: Consulta complexa de bolsas por curso (usa JOIN em CursoTemDisciplina)
EXPLAIN ANALYZE
SELECT c.codigo, c.nome, COUNT(mb.id_bolsa) as total_bolsas
FROM Curso c
JOIN CursoTemDisciplina ctd ON ctd.codigoCurso = c.codigo
JOIN Oferecimento o ON o.codigo = ctd.codigoDisciplina
JOIN Matricula m ON m.codigo_oferecimento = o.codigo_oferecimento
JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
    = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
GROUP BY c.codigo, c.nome
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
26 rows affected.

[('Limit  (cost=441.20..441.22 rows=1 width=344) (actual time=0.037..0.040 rows=0 loops=1)',),
 ('  ->  GroupAggregate  (cost=441.20..441.22 rows=1 width=344) (actual time=0.036..0.038 rows=0 loops=1)',),
 ('        Group Key: c.codigo',),
 ('        ->  Sort  (cost=441.20..441.21 rows=1 width=340) (actual time=0.035..0.037 rows=0 loops=1)',),
 ('              Sort Key: c.codigo',),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Nested Loop  (cost=77.02..441.19 rows=1 width=340) (actual time=0.029..0.031 rows=0 loops=1)',),
 ('                    ->  Hash Join  (cost=76.88..440.88 rows=1 width=122) (actual time=0.028..0.030 rows=0 loops=1)',),
 ('                          Hash Cond: ((m.codigo_oferecimento = o.codigo_oferecimento) AND ((m.nomealuno)::text = (mb.nomealuno)::text) AND ((m.sobrenomealuno)::text = (mb.sobrenomealuno)::text) AND ((m.telefonealuno)::text = (mb.telefonealuno)::text))',),
 ('                          ->  Seq Scan on matricula m  (cost=0.00..214.00 rows=10000 width=32) (actual time=0.011..0.011 rows=1 loops=1)',),
 ('                          ->  Hash  (cost=64.88..64.88 rows=600 width=158) (actual time=0.011..0.012 rows=0 loops=1)',),
 ('                                Buckets: 1024  Batches: 1  Memory Usage: 8kB',),
 ('                                ->  Hash Join  (cost=36.12..64.88 rows=600 width=158) (actual time=0.011..0.012 rows=0 loops=1)',),
 ('                                      Hash Cond: (mb.codigo_oferecimento = o.codigo_oferecimento)',),
 ('                                      ->  Seq Scan on matriculatembolsa mb  (cost=0.00..19.00 rows=1000 width=36) (actual time=0.005..0.006 rows=1 loops=1)',),
 ('                                      ->  Hash  (cost=32.38..32.38 rows=300 width=122) (actual time=0.003..0.003 rows=0 loops=1)',),
 ('                                            Buckets: 1024  Batches: 1  Memory Usage: 8kB',),
 ('                                            ->  Hash Join  (cost=15.25..32.38 rows=300 width=122) (actual time=0.003..0.003 rows=0 loops=1)',),
 ('                                                  Hash Cond: ((ctd.codigodisciplina)::text = (o.codigo)::text)',),
 ('                                                  ->  Seq Scan on cursotemdisciplina ctd  (cost=0.00..13.00 rows=300 width=236) (actual time=0.002..0.002 rows=0 loops=1)',),
 ('                                                  ->  Hash  (cost=9.00..9.00 rows=500 width=9) (never executed)',),
 ('                                                        ->  Seq Scan on oferecimento o  (cost=0.00..9.00 rows=500 width=9) (never executed)',),
 ('                    ->  Index Scan using curso_pkey on curso c  (cost=0.14..0.31 rows=1 width=336) (never executed)',),
 ('                          Index Cond: ((codigo)::text = (ctd.codigocurso)::text)',),
 ('Planning Time: 2.889 ms',),
 ('Execution Time: 0.095 ms',)]

Criando os índices para otimizar consultas, temos:

In [47]:
%%sql
-- CRIAÇÃO DOS ÍNDICES

-- ÍNDICE 1: Para otimizar consultas por período em Oferecimento
CREATE INDEX idx_oferecimento_periodo ON Oferecimento(periodo);

-- ÍNDICE 2: Para otimizar JOINs entre Matricula e Oferecimento  
CREATE INDEX idx_matricula_codigo_oferecimento ON Matricula(codigo_oferecimento);

-- ÍNDICE 3: Para otimizar JOINs em CursoTemDisciplina por disciplina
CREATE INDEX idx_curso_tem_disciplina_codigo_disciplina ON CursoTemDisciplina(codigoDisciplina);

 * postgresql://postgres:***@localhost:5432/universidade
(psycopg2.errors.DuplicateTable) relation "idx_oferecimento_periodo" already exists

[SQL: -- CRIAÇÃO DOS ÍNDICES

-- ÍNDICE 1: Para otimizar consultas por período em Oferecimento
CREATE INDEX idx_oferecimento_periodo ON Oferecimento(periodo);]
(Background on this error at: https://sqlalche.me/e/20/f405)

Agora refazendo consulta por consulta e analisando com o EXPLAIN ANALYSE

In [48]:
%%sql
-- CONSULTA 1 APÓS ÍNDICE: Buscar oferecimentos por período
EXPLAIN ANALYZE
SELECT o.codigo_oferecimento, o.codigo, o.periodo
FROM Oferecimento o
WHERE o.periodo = '2025-2';

 * postgresql://postgres:***@localhost:5432/universidade
5 rows affected.

[('Seq Scan on oferecimento o  (cost=0.00..10.25 rows=159 width=16) (actual time=0.013..0.062 rows=159 loops=1)',),
 ("  Filter: ((periodo)::text = '2025-2'::text)",),
 ('  Rows Removed by Filter: 341',),
 ('Planning Time: 0.058 ms',),
 ('Execution Time: 0.077 ms',)]

In [49]:
%%sql
-- CONSULTA 2 APÓS ÍNDICE: JOIN entre Matricula e Oferecimento
EXPLAIN ANALYZE
SELECT COUNT(*) as total_matriculas
FROM Matricula m
JOIN Oferecimento o ON o.codigo_oferecimento = m.codigo_oferecimento
WHERE o.periodo = '2025-2';

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[('Aggregate  (cost=198.97..198.97 rows=1 width=8) (actual time=0.776..0.776 rows=1 loops=1)',),
 ('  ->  Nested Loop  (cost=0.29..191.02 rows=3180 width=0) (actual time=0.014..0.654 rows=3153 loops=1)',),
 ('        ->  Seq Scan on oferecimento o  (cost=0.00..10.25 rows=159 width=4) (actual time=0.009..0.070 rows=159 loops=1)',),
 ("              Filter: ((periodo)::text = '2025-2'::text)",),
 ('              Rows Removed by Filter: 341',),
 ('        ->  Index Only Scan using idx_matricula_codigo_oferecimento on matricula m  (cost=0.29..0.94 rows=20 width=4) (actual time=0.001..0.002 rows=20 loops=159)',),
 ('              Index Cond: (codigo_oferecimento = o.codigo_oferecimento)',),
 ('              Heap Fetches: 0',),
 ('Planning Time: 0.215 ms',),
 ('Execution Time: 0.797 ms',)]

In [50]:
%%sql
-- CONSULTA 3 APÓS ÍNDICE: Consulta complexa de bolsas por curso
EXPLAIN ANALYZE
SELECT c.codigo, c.nome, COUNT(mb.id_bolsa) as total_bolsas
FROM Curso c
JOIN CursoTemDisciplina ctd ON ctd.codigoCurso = c.codigo
JOIN Oferecimento o ON o.codigo = ctd.codigoDisciplina
JOIN Matricula m ON m.codigo_oferecimento = o.codigo_oferecimento
JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
    = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
GROUP BY c.codigo, c.nome
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
26 rows affected.

[('Limit  (cost=441.20..441.22 rows=1 width=344) (actual time=0.028..0.030 rows=0 loops=1)',),
 ('  ->  GroupAggregate  (cost=441.20..441.22 rows=1 width=344) (actual time=0.027..0.029 rows=0 loops=1)',),
 ('        Group Key: c.codigo',),
 ('        ->  Sort  (cost=441.20..441.21 rows=1 width=340) (actual time=0.026..0.028 rows=0 loops=1)',),
 ('              Sort Key: c.codigo',),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Nested Loop  (cost=77.02..441.19 rows=1 width=340) (actual time=0.021..0.023 rows=0 loops=1)',),
 ('                    ->  Hash Join  (cost=76.88..440.88 rows=1 width=122) (actual time=0.021..0.022 rows=0 loops=1)',),
 ('                          Hash Cond: ((m.codigo_oferecimento = o.codigo_oferecimento) AND ((m.nomealuno)::text = (mb.nomealuno)::text) AND ((m.sobrenomealuno)::text = (mb.sobrenomealuno)::text) AND ((m.telefonealuno)::text = (mb.telefonealuno)::text))',),
 ('                          ->  Seq Scan on matricula m  (cost=0.00..214.00 rows=10000 width=32) (actual time=0.010..0.010 rows=1 loops=1)',),
 ('                          ->  Hash  (cost=64.88..64.88 rows=600 width=158) (actual time=0.007..0.008 rows=0 loops=1)',),
 ('                                Buckets: 1024  Batches: 1  Memory Usage: 8kB',),
 ('                                ->  Hash Join  (cost=36.12..64.88 rows=600 width=158) (actual time=0.007..0.008 rows=0 loops=1)',),
 ('                                      Hash Cond: (mb.codigo_oferecimento = o.codigo_oferecimento)',),
 ('                                      ->  Seq Scan on matriculatembolsa mb  (cost=0.00..19.00 rows=1000 width=36) (actual time=0.003..0.003 rows=1 loops=1)',),
 ('                                      ->  Hash  (cost=32.38..32.38 rows=300 width=122) (actual time=0.002..0.003 rows=0 loops=1)',),
 ('                                            Buckets: 1024  Batches: 1  Memory Usage: 8kB',),
 ('                                            ->  Hash Join  (cost=15.25..32.38 rows=300 width=122) (actual time=0.002..0.002 rows=0 loops=1)',),
 ('                                                  Hash Cond: ((ctd.codigodisciplina)::text = (o.codigo)::text)',),
 ('                                                  ->  Seq Scan on cursotemdisciplina ctd  (cost=0.00..13.00 rows=300 width=236) (actual time=0.001..0.001 rows=0 loops=1)',),
 ('                                                  ->  Hash  (cost=9.00..9.00 rows=500 width=9) (never executed)',),
 ('                                                        ->  Seq Scan on oferecimento o  (cost=0.00..9.00 rows=500 width=9) (never executed)',),
 ('                    ->  Index Scan using curso_pkey on curso c  (cost=0.14..0.31 rows=1 width=336) (never executed)',),
 ('                          Index Cond: ((codigo)::text = (ctd.codigocurso)::text)',),
 ('Planning Time: 2.902 ms',),
 ('Execution Time: 0.074 ms',)]

## Justificativas dos Índices:

### 1. `idx_oferecimento_periodo`

- **Justificativa:**  
A coluna `periodo` é frequentemente filtrada em cláusulas `WHERE`.

- **Benefício esperado:**  
Substituir `Seq Scan` por `Index Scan` ao buscar por período específico.

---

### 2. `idx_matricula_codigo_oferecimento`

- **Justificativa:**  
A coluna `codigo_oferecimento` é uma **chave estrangeira (FK)** muito usada em `JOINs`.

- **Benefício esperado:**  
Acelerar os `JOINs` entre `Matricula` e `Oferecimento`, favorecendo a substituição de `Nested Loop` por `Index Nested Loop`.

---

### 3. `idx_curso_tem_disciplina_codigo_disciplina`

- **Justificativa:**  
A coluna `codigoDisciplina` é usada em `JOINs` complexos nas consultas relacionadas a bolsas.

- **Benefício esperado:**  
Otimizar a consulta de bolsas por curso.

## Exercício 8: Criação das Views

Precisamos criar pelo menos três views usando consultas que envolvam junções entre duas ou mais tabelas, mostrando informações relevantes do sistema.