# Trabalho Final de Banco de Dados
Este notebook contém os exercícios **Exercício 6** ao **Exercício 8**.

### Conexão com o Postgres Docker

In [139]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql
from sqlalchemy import create_engine
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/universidade')
%sql postgresql://postgres:pgadmin@localhost:5432/universidade

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Importações

In [140]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine
from pathlib import Path
import sqlparse

### Para resolver o error ao rodar os comandos de select no notebook

In [141]:
%config SqlMagic.style='_DEPRECATED_MARKDOWN'

%reload_ext sql

## Exercício 6: Criação do esquema

Insiram aqui os SQL para criar tabelas, chaves primárias, estrangeiras e restrições.

In [153]:
from pathlib import Path
import sqlparse

# Lê todo o conteúdo do arquivo
sql_text = Path('creates.sql').read_text()

# Separa os comandos SQL individualmente (CREATE, DROP, etc.)
statements = sqlparse.split(sql_text)

# Executa cada statement não vazio
for stmt in statements:
    stmt_clean = stmt.strip()
    if not stmt_clean:
        continue
    # Mostra os primeiros caracteres do comando (só para acompanhamento/debug)
    print("executando:", stmt_clean[:60].replace('\n', ' ') + ('...' if len(stmt_clean) > 60 else ''))
    
    # Executa via ipython-sql magic
    get_ipython().run_cell_magic('sql', '', stmt_clean)

executando: -- recria o schema limpo DROP SCHEMA public CASCADE;
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: CREATE SCHEMA public;
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- unidade escolar (campus) CREATE TABLE UnidadeEscolar (   ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- sala física CREATE TABLE Sala (     id_sala    serial  PR...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- regra acadêmica genérica (ex. frequência) CREATE TABLE Re...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- recurso físico (lab, projetor, etc.) CREATE TABLE Infraes...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- turma de alunos (grupo lógico) CREATE TABLE Turma (     i...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- bolsa de estudo CREATE TABLE Bolsa (     id_bolsa    seri...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- desconto financeiro CREATE TABLE Desconto (     id_descon...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- aluno (subtipo de usuário) CREATE TABLE Aluno (     nomeA...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- professor (subtipo de usuário) CREATE TABLE Professor (  ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- funcionário administrativo (subtipo de usuário) CREATE TA...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- departamento acadêmico CREATE TABLE DepartamentoAcademico...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- curso CREATE TABLE Curso (     codigo               varch...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- disciplina CREATE TABLE Disciplina (     codigo          ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- mensagem interna CREATE TABLE Mensagem (     id_mensagem ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- aviso geral (enviado por funcionário) CREATE TABLE AvisoG...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- oferecimento (turma + disciplina + período) CREATE TABLE ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- uso de sala por turma em horário específico CREATE TABLE ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- matrícula do aluno em um oferecimento CREATE TABLE Matric...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- notas lançadas para matrícula CREATE TABLE Notas (     no...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- curso < - > regra (N:M) CREATE TABLE ContemRegra (     id...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- curso < - > infraestrutura (N:M) CREATE TABLE PrecisaInfr...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- curso < - > disciplina (N:M) CREATE TABLE CursoTemDiscipl...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- pré-requisito entre cursos (auto N:M) CREATE TABLE CursoP...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- disciplina pré-requisito de curso (N:M) CREATE TABLE Disc...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- turma < - > aviso CREATE TABLE TurmaRecebeAviso (     id_...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- turma < - > mensagem CREATE TABLE TurmaRecebeMensagem (  ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- aluno < - > mensagem CREATE TABLE AlunoRecebeMensagem (  ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- professor < - > mensagem CREATE TABLE ProfessorRecebeMens...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- funcionário < - > mensagem CREATE TABLE FuncionarioAdmini...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- matrícula < - > bolsa CREATE TABLE MatriculaTemBolsa (   ...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- matrícula < - > desconto CREATE TABLE MatriculaTemDescont...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: -- avaliação (aluno - professor ou oferta) CREATE TABLE Aval...
 * postgresql://postgres:***@localhost:5432/universidade
Done.

Inserir os dados gerados no exercício 4 em nossa base de dados. Como nos próximos exercícios trabalharemos com tecnologias de indexação, decidimos criar dados sintéticos. Dessa forma, podemos inserir um volume grande de registros e aproveitar o potencial dessas tecnologias para avaliar desempenho e escalabilidade.

In [154]:
# lê todo o conteúdo do arquivo
sql_text = Path('inserts.sql').read_text()

# usa sqlparse.split para separar statements corretamente
statements = sqlparse.split(sql_text)

# para cada statement não vazio, executa com %sql
for stmt in statements:
    stmt_clean = stmt.strip()
    if not stmt_clean:
        continue
    # mostra início do statement (opcional, para debug)
    print("executando:", stmt_clean[:60].replace('\n',' ') + ('...' if len(stmt_clean)>60 else ''))
    # executa via ipython-sql magic
    get_ipython().run_cell_magic('sql', '', stmt_clean)

executando: -- vai percorrer todas tabelas no schema public e as trunca,...
 * postgresql://postgres:***@localhost:5432/universidade
Done.
executando: --  gera 10 registros de UnidadeEscolar com código padroniza...
 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.
executando: -- gera 100 salas físicas de aula ou laboratório INSERT INTO...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria regras acadêmicas genéricas (ex: frequencia minima, ...
 * postgresql://postgres:***@localhost:5432/universidade
50 rows affected.
executando: -- gera recursos de infra (ex: laboratorio, projetor) pra as...
 * postgresql://postgres:***@localhost:5432/universidade
50 rows affected.
executando: -- gera turmas lógicas, cada uma com capacidade de alunos en...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria bolsas de estudo variadas, com valor aleatório até 5...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: --  descontos financeiros para aplicar em matrículas, com va...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- cria 2000 alunos de teste com nome, sobrenome e telefone ...
 * postgresql://postgres:***@localhost:5432/universidade
2000 rows affected.
executando: --  gera 500 professores com dados de identificação únicos I...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- gera funcionários administrativos fictícios, sem vinculaç...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 100 departamentos acadêmicos,  -- atribui como che...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- gera cursos fictícios com código 'CURSO001' a 'CURSO100' ...
 * postgresql://postgres:***@localhost:5432/universidade
100 rows affected.
executando: -- insere 500 disciplinas vinculadas a professor e unidade e...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- CursoTemDisciplina (Curso <-> Disciplina) - VERSÃO CORRIG...
 * postgresql://postgres:***@localhost:5432/universidade
819 rows affected.
executando: -- insere 200 mensagens com remetente aleatório (aluno/profe...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 200 avisos gerais enviados por funcionários admini...
 * postgresql://postgres:***@localhost:5432/universidade
200 rows affected.
executando: -- insere 2000 oferecimentos (Disciplina < - > Turma) em per...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- insere 500 ministra (Sala < - > Turma < - > horário) -- O...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- insere matrículas (Aluno < - > Oferecimento) INSERT INTO ...
 * postgresql://postgres:***@localhost:5432/universidade
10000 rows affected.
executando: -- insere notas (Notas de Matrícula) -- simulando avaliações...
 * postgresql://postgres:***@localhost:5432/universidade
10000 rows affected.
executando: -- associa cursos e regras de forma randômica, até 1000 pare...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- PrecisaInfraestrutura (Curso < - > Infraestrutura) -- obs...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- CursoPreRequisitoCurso (Curso < - > Outro Curso) -- já qu...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- DisciplinaPreRequisitoCurso (Curso < - > Disciplina) -- o...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- TurmaRecebeAviso (Turma < - > AvisoGeral) -- para cada tu...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- TurmaRecebeMensagem (Turma < - > Mensagem) -- associa tur...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- AlunoRecebeMensagem (Aluno < - > Mensagem) -- vincula cad...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- ProfessorRecebeMensagem (Professor < - > Mensagem) -- rel...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- FuncionarioAdministrativoRecebeMensagem (FuncAdmin < - > ...
 * postgresql://postgres:***@localhost:5432/universidade
500 rows affected.
executando: -- MatriculaTemBolsa (Matrícula < - > Bolsa) -- distribui bo...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- MatriculaTemDesconto (Matrícula < - > Desconto) -- análog...
 * postgresql://postgres:***@localhost:5432/universidade
1000 rows affected.
executando: -- Avaliação de professor com distribuição variada -- Para c...
 * postgresql://postgres:***@localhost:5432/universidade
5417 rows affected.
executando: -- Avaliação de oferta com distribuição variada -- para cada...
 * postgresql://postgres:***@localhost:5432/universidade
5242 rows affected.

### Consultas

#### Listar alunos matriculados em disciplina e período com matrículas existentes

In [144]:
%%sql
-- escolhe 1 par (disciplina - período) que já tenha matrícula
WITH alvo AS (
    -- seleciona código da disciplina e período de oferecimento que já possuem ao menos uma matrícula
    SELECT
        d.codigo  AS disc,          
        o.periodo AS per            -- período em que a disciplina foi oferecida
    FROM Disciplina d
    JOIN Oferecimento o 
      ON o.codigo = d.codigo       -- relaciona disciplina com seu oferecimento
    JOIN Matricula m 
      ON m.codigo_oferecimento = o.codigo_oferecimento  -- ve que existe matrícula pra este oferecimento
    GROUP BY d.codigo, o.periodo   -- agrupa por disciplina e período
    HAVING COUNT(*) > 0            -- mantém apenas grupos com pelo menos uma matrícula
    ORDER BY d.codigo, o.periodo   -- cria critério determinístico de ordenação
    LIMIT 1                        -- limita a apenas um par (disciplina, período)
)

-- lista todos os alunos desse par escolhido
SELECT
    a.nomeAluno,                 
    a.sobrenomeAluno,             
    a.telefoneAluno,              
    alvo.disc        AS disciplina, -- disciplina selecionada no CTE
    alvo.per         AS periodo    -- período selecionado no CTE
FROM alvo
JOIN Oferecimento o 
  ON o.codigo  = alvo.disc        -- filtra apenas o oferecimento correspondente a disciplina escolhida
 AND o.periodo = alvo.per         -- e ao período escolhido
JOIN Matricula m 
  ON m.codigo_oferecimento = o.codigo_oferecimento  -- obtém todas as matrículas para esse oferecimento
JOIN Aluno a 
  ON (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno)
     = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)  -- relaciona matrícula ao registro do aluno
ORDER BY a.sobrenomeAluno, a.nomeAluno  -- ordena o resultado por sobrenome e depois o nome
;

 * postgresql://postgres:***@localhost:5432/universidade
18 rows affected.

[('Nome10', 'SobNome10', '97900400', 'D001', '2025-1'),
 ('Nome1010', 'SobNome1010', '70694541', 'D001', '2025-1'),
 ('Nome1028', 'SobNome1028', '55414688', 'D001', '2025-1'),
 ('Nome1059', 'SobNome1059', '53535049', 'D001', '2025-1'),
 ('Nome1349', 'SobNome1349', '60906984', 'D001', '2025-1'),
 ('Nome1516', 'SobNome1516', '13428881', 'D001', '2025-1'),
 ('Nome1533', 'SobNome1533', '52045194', 'D001', '2025-1'),
 ('Nome1538', 'SobNome1538', '81514896', 'D001', '2025-1'),
 ('Nome1654', 'SobNome1654', '56857460', 'D001', '2025-1'),
 ('Nome1675', 'SobNome1675', '51262053', 'D001', '2025-1'),
 ('Nome1695', 'SobNome1695', '29314181', 'D001', '2025-1'),
 ('Nome1754', 'SobNome1754', '47583085', 'D001', '2025-1'),
 ('Nome1953', 'SobNome1953', '81084331', 'D001', '2025-1'),
 ('Nome328', 'SobNome328', '59134427', 'D001', '2025-1'),
 ('Nome386', 'SobNome386', '00483539', 'D001', '2025-1'),
 ('Nome652', 'SobNome652', '34395042', 'D001', '2025-1'),
 ('Nome864', 'SobNome864', '51922695', 'D001', '2025-1'),
 ('Nome979', 'SobNome979', '00375687', 'D001', '2025-1')]

####  Calcular média de notas de um aluno específico

In [145]:
%%sql
-- média das notas de um aluno 
SELECT
  a.nomeAluno,                                      
  a.sobrenomeAluno,                                 
  ROUND(AVG(n.nota), 2) AS media_geral                -- arredonda a média das notas com 2 casas decimais
FROM Aluno a
JOIN Notas n 
  ON (n.nomeAluno, n.sobrenomeAluno, n.telefoneAluno) = 
     (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno) -- relaciona cada nota ao respectivo aluno
WHERE a.nomeAluno      = 'Nome250'                    -- filtra pelo nome do aluno desejado
  AND a.sobrenomeAluno = 'SobNome250'                 -- e sobrenome
GROUP BY 
  a.nomeAluno,                                        -- agrupa por nome pra calcular média por aluno
  a.sobrenomeAluno;

 * postgresql://postgres:***@localhost:5432/universidade
1 rows affected.

[('Nome250', 'SobNome250', Decimal('8.47'))]

#### Listar professores que ministram mais de uma disciplina e suas disciplinas

In [ ]:
%%sql
-- professores que ministram mais de uma disciplina, listando as disciplinas de cada 
SELECT
    p.nomeProfessor,                                  
    p.sobrenomeProfessor,                             
    p.telefoneProfessor,                               
    array_agg(d.codigo ORDER BY d.codigo) AS disciplinas -- agrega codigos das disciplinas em um array ordenado
FROM Professor p
JOIN Disciplina d
  ON (d.nomeProfessor, d.sobrenomeProfessor, d.telefoneProfessor)
     = (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor) 
    -- relaciona disciplina ao professor que a ministra
GROUP BY
    p.nomeProfessor,                                   -- agrupa por nome do professor
    p.sobrenomeProfessor,                              -- sobrenome do professor
    p.telefoneProfessor                                -- telefone para chave unica
HAVING
    COUNT(*) > 1                                       -- filtra apenas professores com mais de uma disciplina
ORDER BY
    p.nomeProfessor,                                  -- ordena resultado por nome do professor
    p.sobrenomeProfessor                              -- e depois por sobrenome do professor
LIMIT 50;                                            -- limita a 50 resultados

#### Listar cursos oferecidos no último período sem matrículas

In [ ]:
%%sql
-- cursos que não tiveram matrículas no último período
WITH ult AS (
    -- pega o último período presente na tabela Oferecimento
    SELECT MAX(periodo) AS per FROM Oferecimento
),
offers_ult AS (
    -- seleciona os oferecimentos que ocorreram no último período
    SELECT o.codigo_oferecimento, o.codigo
    FROM Oferecimento o, ult
    WHERE o.periodo = ult.per
),
cursos_ult AS (
    -- identifica cursos que tiveram pelo menos um oferecimento no último período
    SELECT DISTINCT ctd.codigoCurso
    FROM offers_ult ou
    JOIN CursoTemDisciplina ctd
      ON ctd.codigoDisciplina = ou.codigo
),
matric AS (
    -- identifica cursos que possuem qualquer matrícula registrada (em qualquer período)
    SELECT DISTINCT ctd.codigoCurso
    FROM Matricula m
    JOIN Oferecimento o 
      ON o.codigo_oferecimento = m.codigo_oferecimento
    JOIN CursoTemDisciplina ctd 
      ON ctd.codigoDisciplina = o.codigo
)
SELECT 
    c.codigo,             
    c.nome                 
FROM Curso c
JOIN cursos_ult cu 
  ON cu.codigoCurso = c.codigo  -- filtra apenas cursos com oferta no último período
LEFT JOIN matric ma 
  ON ma.codigoCurso = c.codigo  -- tenta encontrar matrícula em qualquer período
WHERE ma.codigoCurso IS NULL    -- mantém somente cursos sem nenhuma matrícula registrada
ORDER BY c.codigo;              -- ordena resultado pelo código do curso

#### Listar salas mais usadas pelo número de ministrações

In [ ]:
%%sql
SELECT 
    s.id_sala,                          
    COUNT(*) AS ministracoes            -- conta quantas aulas aconteceram nessa sala
FROM Sala s
JOIN Ministra m USING (id_sala)        -- relaciona cada registro de Ministra a sua sala
GROUP BY s.id_sala                     -- agrupa por sala para agregar contagem
ORDER BY ministracoes DESC             -- ordena decrescente, mostrando primeiro as mais utilizadas
LIMIT 10;

#### Calcular valor total das bolsas concedidas a alunos por curso

In [ ]:
%%sql
/* valor total (R$) das bolsas concedidas a alunos de cada curso */
WITH cursos AS (
    SELECT 
        codigo AS codigoCurso,  -- alias unificado para usar dps
        nome
    FROM Curso
),
mat_bolsa AS (
    -- relaciona matrícula, oferecimento, disciplina e bolsas pra obter valor da bolsa por aluno e curso
    SELECT
        m.nomeAluno,          
        m.sobrenomeAluno,    
        m.telefoneAluno,     
        ctd.codigoCurso,      
        b.valor_bolsa        
    FROM Matricula m
    JOIN Oferecimento o
      ON o.codigo_oferecimento = m.codigo_oferecimento  
       -- vincula matrícula ao seu oferecimento (disciplina + período)
    JOIN CursoTemDisciplina ctd
      ON ctd.codigoDisciplina = o.codigo               
       -- obtém o curso ao qual a disciplina oferecida pertence
    JOIN MatriculaTemBolsa mb
      ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
         = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
       -- associa matrícula a bolsa concedida nessa matrícula
    JOIN Bolsa b
      ON b.id_bolsa = mb.id_bolsa                       
       -- geta o valor da bolsa concedida
)
SELECT
    c.codigoCurso                                   AS curso,                
    c.nome                                          AS nome_curso,          
    COUNT(DISTINCT (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno))
                                                  AS alunos_com_bolsa,     -- num de alunos distintos que receberam bolsa nesse curso
    SUM(mb.valor_bolsa)::numeric(12,2)              AS soma_das_bolsas_em_reais  -- soma dos valores de bolsa para o curso
FROM cursos c
LEFT JOIN mat_bolsa mb 
  ON mb.codigoCurso = c.codigoCurso               -- vincula bolsas ao curso; LEFT JOIN para incluir cursos sem bolsas
GROUP BY 
    c.codigoCurso,                                 
    c.nome
ORDER BY 
    soma_das_bolsas_em_reais DESC NULLS LAST       -- ordena do maior total de bolsas ao menor; NULLS LAST coloca cursos sem bolsas ao final
LIMIT 15;                                          -- limita aos top 15 cursos

In [ ]:
%%sql
/* ver quantas avaliações cada professor recebeu */
SELECT 
  p.nomeProfessor,
  p.sobrenomeProfessor,
  COUNT(*) AS num_avals
FROM Avaliacao a
JOIN Professor p
  ON (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
     = (a.nomeProfessor, a.sobrenomeProfessor, a.telefoneProfessor)
GROUP BY p.nomeProfessor, p.sobrenomeProfessor
ORDER BY num_avals ASC
LIMIT 100;

#### Contar número de avaliações recebidas por cada professor

In [ ]:
%%sql
/* ver quantas avaliações cada professor recebeu */
SELECT 
  p.nomeProfessor,                                  
  p.sobrenomeProfessor,                              
  COUNT(*) AS num_avals                               -- conta quantidade de avaliações associadas ao professor
FROM Avaliacao a
JOIN Professor p
  ON (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
     = (a.nomeProfessor, a.sobrenomeProfessor, a.telefoneProfessor)
     -- relaciona cada avaliação ao professor correspondente pela chave (nome, sobrenome, telefone)
GROUP BY 
  p.nomeProfessor,                                   -- agrupa por nome e sobrenome do professor para agregar contagem
  p.sobrenomeProfessor                               
ORDER BY 
  num_avals ASC                                      -- ordena do menor número de avaliações ao maior
LIMIT 100;

#### Identificar ofertas com matrícula acima da capacidade da turma

In [ ]:
%%sql
/* ofertas cujo número de matrículas excede a capacidade da turma associada */
SELECT
  o.codigo_oferecimento,  -- identifica o registro de oferecimento (disciplina + período)
  o.periodo,            
  t.id_turma,           
  t.capacidade AS cap_turma,  
  COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) AS qtd_matriculas
    -- conta alunos distintos matriculados neste oferecimento
FROM Oferecimento o
JOIN Turma t 
  ON t.id_turma = o.id_turma
    -- vincula oferecimento a turma pra obter capacidade
LEFT JOIN Matricula m 
  ON m.codigo_oferecimento = o.codigo_oferecimento
    -- tenta achar todas as matrículas para este oferecimento
    -- LEFT JOIN permite ofertas sem matrícula
GROUP BY 
  o.codigo_oferecimento,  -- agrupa por oferecimento para contar matrículas por oferta
  o.periodo,
  t.id_turma,
  t.capacidade
HAVING 
  COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) > t.capacidade
    -- filtra apenas as ofertas em que a quantidade de matrículas ultrapassa a capacidade da turma
ORDER BY 
  (COUNT(DISTINCT (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)) - t.capacidade) DESC
    -- ordena pelo maior excesso de matrículas em relação a capacidade, do maior pro menor
;

## Exercício 7: Índices e planos de consulta

Adicionem aqui os SQL para criar índices e analisar planos com EXPLAIN.

Primeiro vamos analisar antes da criação dos índices.

In [ ]:
%%sql
-- CONSULTA 1: Buscar oferecimentos por período (usa coluna 'periodo')
EXPLAIN ANALYZE
SELECT o.codigo_oferecimento, o.codigo, o.periodo
FROM Oferecimento o
WHERE o.periodo = '2025-2';

In [ ]:
%%sql
-- CONSULTA 2: JOIN entre Matricula e Oferecimento (usa FK codigo_oferecimento)
EXPLAIN ANALYZE
SELECT COUNT(*) as total_matriculas
FROM Matricula m
JOIN Oferecimento o ON o.codigo_oferecimento = m.codigo_oferecimento
WHERE o.periodo = '2025-2';

In [ ]:
%%sql
-- CONSULTA 3: Consulta complexa de bolsas por curso (usa JOIN em CursoTemDisciplina)
EXPLAIN ANALYZE
SELECT c.codigo, c.nome, COUNT(mb.id_bolsa) as total_bolsas
FROM Curso c
JOIN CursoTemDisciplina ctd ON ctd.codigoCurso = c.codigo
JOIN Oferecimento o ON o.codigo = ctd.codigoDisciplina
JOIN Matricula m ON m.codigo_oferecimento = o.codigo_oferecimento
JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
    = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
GROUP BY c.codigo, c.nome
LIMIT 10;

Criando os índices para otimizar consultas, temos:

In [ ]:
%%sql
-- CRIAÇÃO DOS ÍNDICES

-- ÍNDICE 1: Para otimizar consultas por período em Oferecimento
CREATE INDEX idx_oferecimento_periodo ON Oferecimento(periodo);

-- ÍNDICE 2: Para otimizar JOINs entre Matricula e Oferecimento  
CREATE INDEX idx_matricula_codigo_oferecimento ON Matricula(codigo_oferecimento);

-- ÍNDICE 3: Para otimizar JOINs em CursoTemDisciplina por disciplina
CREATE INDEX idx_curso_tem_disciplina_codigo_disciplina ON CursoTemDisciplina(codigoDisciplina);

Agora refazendo consulta por consulta e analisando com o EXPLAIN ANALYSE

In [ ]:
%%sql
-- CONSULTA 1 APÓS ÍNDICE: Buscar oferecimentos por período
EXPLAIN ANALYZE
SELECT o.codigo_oferecimento, o.codigo, o.periodo
FROM Oferecimento o
WHERE o.periodo = '2025-2';

In [ ]:
%%sql
-- CONSULTA 2 APÓS ÍNDICE: JOIN entre Matricula e Oferecimento
EXPLAIN ANALYZE
SELECT COUNT(*) as total_matriculas
FROM Matricula m
JOIN Oferecimento o ON o.codigo_oferecimento = m.codigo_oferecimento
WHERE o.periodo = '2025-2';

In [ ]:
%%sql
-- CONSULTA 3 APÓS ÍNDICE: Consulta complexa de bolsas por curso
EXPLAIN ANALYZE
SELECT c.codigo, c.nome, COUNT(mb.id_bolsa) as total_bolsas
FROM Curso c
JOIN CursoTemDisciplina ctd ON ctd.codigoCurso = c.codigo
JOIN Oferecimento o ON o.codigo = ctd.codigoDisciplina
JOIN Matricula m ON m.codigo_oferecimento = o.codigo_oferecimento
JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
    = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
GROUP BY c.codigo, c.nome
LIMIT 10;

## Justificativas dos Índices:

### 1. `idx_oferecimento_periodo`

- **Justificativa:**  
A coluna `periodo` é frequentemente filtrada em cláusulas `WHERE`.

- **Benefício esperado:**  
Substituir `Seq Scan` por `Index Scan` ao buscar por período específico.

---

### 2. `idx_matricula_codigo_oferecimento`

- **Justificativa:**  
A coluna `codigo_oferecimento` é uma **chave estrangeira (FK)** muito usada em `JOINs`.

- **Benefício esperado:**  
Acelerar os `JOINs` entre `Matricula` e `Oferecimento`, favorecendo a substituição de `Nested Loop` por `Index Nested Loop`.

---

### 3. `idx_curso_tem_disciplina_codigo_disciplina`

- **Justificativa:**  
A coluna `codigoDisciplina` é usada em `JOINs` complexos nas consultas relacionadas a bolsas.

- **Benefício esperado:**  
Otimizar a consulta de bolsas por curso.

## Exercício 8: Criação das Views

Precisamos criar pelo menos três views usando consultas que envolvam junções entre duas ou mais tabelas, mostrando informações relevantes do sistema.

### VIEW 1: `vw_resumo_curso` - Dashboard Executivo dos Cursos

#### **Propósito:**
Esta view fornece uma **visão concreta e completa** de todos os cursos da universidade, agregando métricas essenciais para a gestão acadêmica e financeira.

#### **Tabelas Envolvidas:**
- `Curso` (principal)
- `CursoTemDisciplina` (relacionamento curso-disciplina)
- `Oferecimento` (disciplinas oferecidas por período)
- `Matricula` (alunos matriculados)
- `MatriculaTemBolsa` (bolsas concedidas)
- `Bolsa` (valores das bolsas)
- `Notas` (desempenho acadêmico)

#### **Informações Fornecidas:**
- **Popularidade do Curso:** Total de alunos matriculados
- **Atividade Acadêmica:** Número de oferecimentos realizados
- **Suporte Financeiro:** Quantidade e valor total de bolsas concedidas
- **Qualidade Acadêmica:** Média geral das notas dos alunos

#### **Casos de Uso:**
- **Gestão Estratégica:** Identificar cursos com baixa demanda
- **Planejamento Financeiro:** Analisar custos com bolsas por curso
- **Avaliação Acadêmica:** Monitorar desempenho dos alunos por curso
- **Tomada de Decisão:** Decidir sobre expansão ou descontinuação de cursos

In [163]:
%%sql
-- VIEW 1: Resumo de Matrículas por Curso
-- Dashboard executivo que consolida informações acadêmicas e financeiras de cada curso
CREATE OR REPLACE VIEW vw_resumo_curso AS
SELECT 
    c.codigo AS codigo_curso,
    c.nome AS nome_curso,
    -- Conta alunos únicos matriculados
    COUNT(DISTINCT m.nomeAluno || m.sobrenomeAluno || m.telefoneAluno) AS total_alunos_matriculados,
    COUNT(DISTINCT o.codigo_oferecimento) AS total_oferecimentos,
    COUNT(DISTINCT mb.id_bolsa) AS total_bolsas_concedidas,
    COALESCE(SUM(b.valor_bolsa), 0)::numeric(12,2) AS valor_total_bolsas,
    ROUND(AVG(n.nota), 2) AS media_notas_curso
FROM Curso c
    -- Conecta curso → disciplinas → oferecimentos → matrículas → bolsas/notas
    LEFT JOIN CursoTemDisciplina ctd ON ctd.codigoCurso = c.codigo
    LEFT JOIN Oferecimento o ON o.codigo = ctd.codigoDisciplina
    LEFT JOIN Matricula m ON m.codigo_oferecimento = o.codigo_oferecimento
    LEFT JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
        = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
    LEFT JOIN Bolsa b ON b.id_bolsa = mb.id_bolsa
    LEFT JOIN Notas n ON (n.nomeAluno, n.sobrenomeAluno, n.telefoneAluno, n.codigo_oferecimento)
        = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
GROUP BY c.codigo, c.nome
ORDER BY total_alunos_matriculados DESC;

 * postgresql://postgres:***@localhost:5432/universidade
Done.

[]

### VIEW 2: `vw_atividades_professor` - Perfil Acadêmico e Avaliativo dos Docentes

#### **Propósito:**
Esta view consolida **todas as atividades acadêmicas e avaliativas de cada professor**, criando um perfil completo para análise de desempenho docente, distribuição de carga de trabalho e gestão pedagógica.

#### **Tabelas Envolvidas:**
- `Professor` (dados principais dos docentes)
- `Disciplina` (disciplinas ministradas por cada professor)
- `Avaliacao` (avaliações de didática feitas pelos alunos)

#### **Informações Fornecidas:**
- **Carga Acadêmica:** Quantidade total de disciplinas ministradas e lista detalhada dos códigos das disciplinas
- **Feedback dos Alunos:** Número total de avaliações recebidas e média da nota de didática (campo `didatica` da tabela `Avaliacao`)
- **Arrays de Dados:** Lista ordenada das disciplinas ministradas para análise específica

#### **Casos de Uso:**
- **Avaliação de Desempenho:** Comparar a didática entre professores baseada no feedback dos alunos
- **Distribuição de Carga:** Identificar professores sobrecarregados ou subutilizados
- **Desenvolvimento Docente:** Detectar professores que precisam de capacitação pedagógica
- **Planejamento Acadêmico:** Auxiliar na alocação de disciplinas para novos períodos

In [164]:
%%sql
-- VIEW 2: Professores e suas Atividades
-- Consolida carga acadêmica e avaliações de didática por professor
CREATE OR REPLACE VIEW vw_atividades_professor AS
SELECT 
    p.nomeProfessor,
    p.sobrenomeProfessor,
    p.telefoneProfessor,
    -- Quantidade de disciplinas ministradas
    COUNT(DISTINCT d.codigo) AS total_disciplinas_ministradas,
    -- Lista das disciplinas como array ordenado
    array_agg(DISTINCT d.codigo ORDER BY d.codigo) FILTER (WHERE d.codigo IS NOT NULL) AS disciplinas,
    COUNT(DISTINCT a.id_avaliacao) AS total_avaliacoes_recebidas,
    -- Média das avaliações de didática feitas pelos alunos
    ROUND(AVG(a.didatica), 2) AS media_didatica
FROM Professor p
    -- Conecta professor com suas disciplinas
    LEFT JOIN Disciplina d ON (d.nomeProfessor, d.sobrenomeProfessor, d.telefoneProfessor)
        = (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
    -- Conecta professor com suas avaliações de didática
    LEFT JOIN Avaliacao a ON (a.nomeProfessor, a.sobrenomeProfessor, a.telefoneProfessor)
        = (p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor)
GROUP BY p.nomeProfessor, p.sobrenomeProfessor, p.telefoneProfessor
ORDER BY total_disciplinas_ministradas DESC, media_didatica DESC NULLS LAST;

 * postgresql://postgres:***@localhost:5432/universidade
Done.

[]

### VIEW 3: `vw_status_aluno` - Painel Individual do Estudante

#### **Propósito:**
Esta view oferece uma **visão completa de cada aluno**, integrando dados acadêmicos, financeiros e de comunicação para suporte estudantil personalizado.

#### **Tabelas Envolvidas:**
- `Aluno` (principal)
- `Matricula` (histórico de matrículas)
- `MatriculaTemBolsa` (bolsas recebidas)
- `Bolsa` (valores financeiros)
- `Notas` (desempenho acadêmico)
- `Mensagem` (mensagens enviadas)

#### **Informações Fornecidas:**
- **Engajamento Acadêmico:** Número de matrículas ativas
- **Suporte Financeiro:** Bolsas recebidas e valores totais
- **Performance Acadêmica:** Média geral e status acadêmico (Aprovado/Recuperação/Reprovado)
- **Comunicação:** Atividade de mensagens enviadas
- **Status Inteligente:** Classificação automática baseada nas notas

#### **Casos de Uso:**
- **Suporte ao Estudante:** Identificar alunos em risco acadêmico
- **Gestão de Bolsas:** Acompanhar distribuição de auxílios financeiros
- **Comunicação Institucional:** Monitorar engajamento dos alunos
- **Intervenção Pedagógica:** Direcionar ações para alunos em recuperação
- **Relatórios Institucionais:** Gerar estatísticas sobre o corpo discente

In [ ]:
%%sql
-- VIEW 3: Status Detalhado dos Alunos
-- Painel individual do estudante com informações acadêmicas, financeiras e de comunicação
CREATE OR REPLACE VIEW vw_status_aluno AS
SELECT 
    a.nomeAluno,
    a.sobrenomeAluno,
    a.telefoneAluno,
    a.email,
    -- Engajamento acadêmico
    COUNT(DISTINCT m.codigo_oferecimento) AS total_matriculas,
    COUNT(DISTINCT mb.id_bolsa) AS total_bolsas,
    COALESCE(SUM(b.valor_bolsa), 0)::numeric(10,2) AS valor_total_bolsas,
    -- Performance acadêmica (média das notas)
    ROUND(AVG(n.nota), 2) AS media_geral_notas,
    COUNT(DISTINCT msg.id_mensagem) AS total_mensagens_enviadas,
    -- Classificação automática baseada nas notas
    CASE 
        WHEN AVG(n.nota) >= 7.0 THEN 'Aprovado'
        WHEN AVG(n.nota) >= 5.0 THEN 'Recuperação'
        WHEN AVG(n.nota) IS NULL THEN 'Sem Notas'
        ELSE 'Reprovado'
    END AS status_academico
FROM Aluno a
    -- Conecta aluno → matrículas → bolsas/notas → mensagens
    LEFT JOIN Matricula m ON (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno)
        = (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno)
    LEFT JOIN MatriculaTemBolsa mb ON (mb.nomeAluno, mb.sobrenomeAluno, mb.telefoneAluno, mb.codigo_oferecimento)
        = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
    LEFT JOIN Bolsa b ON b.id_bolsa = mb.id_bolsa
    LEFT JOIN Notas n ON (n.nomeAluno, n.sobrenomeAluno, n.telefoneAluno, n.codigo_oferecimento)
        = (m.nomeAluno, m.sobrenomeAluno, m.telefoneAluno, m.codigo_oferecimento)
    LEFT JOIN Mensagem msg ON (msg.nomeAluno, msg.sobrenomeAluno, msg.telefoneAluno)
        = (a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno)
GROUP BY a.nomeAluno, a.sobrenomeAluno, a.telefoneAluno, a.email
ORDER BY media_geral_notas DESC NULLS LAST;

 * postgresql://postgres:***@localhost:5432/universidade
Done.

[]

Agora vamos testar as views criadas para garantir que estão funcionando corretamente.

In [166]:
%%sql
-- Teste da VIEW 1: Top 10 cursos por número de alunos
SELECT * FROM vw_resumo_curso 
WHERE total_alunos_matriculados > 0 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[('CURSO058', 'Curso 58 - História', 242, 12, 17, Decimal('49440.57'), Decimal('4.97')),
 ('CURSO048', 'Curso 48 - História', 236, 12, 22, Decimal('64630.21'), Decimal('5.22')),
 ('CURSO057', 'Curso 57 - Biologia', 235, 12, 15, Decimal('46567.81'), Decimal('4.47')),
 ('CURSO034', 'Curso 34 - Matemática', 231, 12, 19, Decimal('53902.84'), Decimal('5.10')),
 ('CURSO068', 'Curso 68 - História', 231, 11, 19, Decimal('46708.98'), Decimal('4.71')),
 ('CURSO047', 'Curso 47 - Biologia', 230, 12, 26, Decimal('92657.26'), Decimal('4.68')),
 ('CURSO089', 'Curso 89 - Geografia', 229, 11, 20, Decimal('53336.02'), Decimal('5.04')),
 ('CURSO099', 'Curso 99 - Geografia', 226, 12, 28, Decimal('85024.62'), Decimal('5.05')),
 ('CURSO071', 'Curso 71 - Ciência da Computação', 222, 12, 15, Decimal('49195.42'), Decimal('4.89')),
 ('CURSO046', 'Curso 46 - Química', 220, 12, 20, Decimal('59607.85'), Decimal('5.17'))]

In [167]:
%%sql
-- Teste da VIEW 2 corrigida
SELECT nomeProfessor, sobrenomeProfessor, total_disciplinas_ministradas, 
       total_avaliacoes_recebidas, media_didatica, disciplinas
FROM vw_atividades_professor 
WHERE total_disciplinas_ministradas > 0
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[('Prof137', 'SobProf137', 4, 12, Decimal('5.42'), ['D133', 'D158', 'D310', 'D386']),
 ('Prof384', 'SobProf384', 4, 14, Decimal('4.79'), ['D100', 'D224', 'D273', 'D480']),
 ('Prof213', 'SobProf213', 4, 4, Decimal('2.75'), ['D018', 'D051', 'D166', 'D401']),
 ('Prof158', 'SobProf158', 3, 1, Decimal('9.00'), ['D107', 'D152', 'D274']),
 ('Prof325', 'SobProf325', 3, 2, Decimal('8.50'), ['D052', 'D394', 'D430']),
 ('Prof257', 'SobProf257', 3, 4, Decimal('7.25'), ['D026', 'D190', 'D449']),
 ('Prof66', 'SobProf66', 3, 5, Decimal('7.20'), ['D058', 'D151', 'D302']),
 ('Prof254', 'SobProf254', 3, 10, Decimal('7.10'), ['D321', 'D450', 'D486']),
 ('Prof265', 'SobProf265', 3, 14, Decimal('6.64'), ['D253', 'D332', 'D409']),
 ('Prof421', 'SobProf421', 3, 5, Decimal('6.40'), ['D042', 'D245', 'D457'])]

In [168]:
%%sql
-- Teste da VIEW 3: Alunos com bolsas e bom desempenho
SELECT nomeAluno, sobrenomeAluno, total_matriculas, total_bolsas, 
       valor_total_bolsas, media_geral_notas, status_academico
FROM vw_status_aluno 
WHERE total_bolsas > 0 
ORDER BY media_geral_notas DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/universidade
10 rows affected.

[('Nome1834', 'SobNome1834', 2, 1, Decimal('2598.38'), Decimal('9.36'), 'Aprovado'),
 ('Nome1053', 'SobNome1053', 3, 2, Decimal('2390.61'), Decimal('9.31'), 'Aprovado'),
 ('Nome1263', 'SobNome1263', 2, 1, Decimal('4859.92'), Decimal('9.30'), 'Aprovado'),
 ('Nome900', 'SobNome900', 4, 1, Decimal('2623.07'), Decimal('8.63'), 'Aprovado'),
 ('Nome1828', 'SobNome1828', 3, 1, Decimal('592.15'), Decimal('8.48'), 'Aprovado'),
 ('Nome711', 'SobNome711', 3, 1, Decimal('4370.78'), Decimal('8.32'), 'Aprovado'),
 ('Nome1587', 'SobNome1587', 4, 2, Decimal('8504.82'), Decimal('8.25'), 'Aprovado'),
 ('Nome1898', 'SobNome1898', 3, 1, Decimal('1278.02'), Decimal('8.23'), 'Aprovado'),
 ('Nome1848', 'SobNome1848', 7, 1, Decimal('592.15'), Decimal('8.20'), 'Aprovado'),
 ('Nome504', 'SobNome504', 3, 1, Decimal('3009.74'), Decimal('8.10'), 'Aprovado')]